@charset "utf-8";

@import url('./reset.css');
@import url('./font.css');
@import url('./layer.css');
@import url('./swiper-bundle.min.css');
 
:root{
    --fts10:10px;
    --fts12:12px;
    --fts13:13px;
    --fts14:14px;
    --fts15:15px;
    --fts16:16px;
    --fts20:20px;
    --fts24:24px;

    --ftw500:500;
    --ftw400:400;
    --ftw700:700;

    --color1:#FD6660;
    --color2:#10BBA9;
    --color3:#1776E5;
    --color4:#937CBF;
    --color5:#8293A2;
    --color6:#2F7D50;
    --color7:#1F1F1F;
    --color8:#40424A;
    --color9:#CACDD0;
    --color10:#F5F5F5;
    --color11:#40424A;
    --color12:#DDDDDD;
    --color13:#959595;
    --color14:#444444;
    --color15:#e3e3e3;
    --color16:#fafafa;
    --color17:#363535;
    --color18:#FF2E26;
    --color19:#595959;
    --color20:#258CE6;
    --color21:#f2f2f2;
    --color22:#A27F49;
    --color23:#747474;
    --color24:#FBFBFB;
    --color25:#A80000;
    --color26:#CECECE;
    --color27:#84898D;

    --box_border:1px solid #dddddd;
    --cont_border:1px solid #e3e3e3;
} 

.blind{visibility: hidden;overflow: hidden;position: absolute;top: 0;left: 0;width: 0;height: 0;font-size: 0;line-height: 0;}
.displaynone{display:none;}
.d_flex{display: flex;}

html{position: relative;}
body{background: #fafafa;}
body > .wrap{min-width: 1400px;min-height:100%;position: relative;}

input[type="text"]{width: 100%;min-height:40px;}
input[type="password"]{width: 100%;min-height:40px;}

/* contents s */
.wrap #container{padding-left:230px;transition:.5s}
.wrap #content{max-width:1920px;}
.wrap #content .inner{padding: 30px 40px 80px;}
.wrap #content .contents_box{margin-top: 40px;background-color: #fff;border: var(--cont_border);}
.wrap #content .contents_box .contents_item{background: #fff;border: 1px solid #DDDDDD;}

.wrap #content .inner > h1{font-size:var(--fts24)}
.wrap #content .inner > h2{font-size:var(--fts20)}
.wrap #content .inner h1 + .contents_box{margin-top:25px}

.wrap #content .contents_box + .contents_box{}
.wrap #content h2 + .contents_box{margin-top:15px}

.wrap #container.open{padding-left:90px;transition:none;}

.wrap #container.open.opens{}
/* radius test */
.btn{border-radius:5px;}
.btn.btn_search{background-color:var(--color17);color:#fff;border: none;}

/* #content .select_wrap .select_box,
.btn,
input[type="text"],
input[type="password"]{border-radius:5px;}
.cus_inp_wrap.checkbox_inp .inp_box .inp_custom{border-radius:3px;} */
/* contents e*/

.btn_wrap{display:flex;align-items:center;gap: 8px;}

.btn{display:inline-block;height:40px;line-height: 38px;padding:0 15px;font-size: var(--fts13);font-weight: var(--ftw500);color:var(--color14);border: var(--cont_border);background: #fff;box-sizing: border-box;cursor: pointer;white-space: nowrap;}
.btn.btn_sm{font-size:var(--fts10);height:20px;line-height:18px;padding:0 10px}
.btn.btn_md{height: 30px;line-height: 28px;}
.btn.btn_lg{height:50px;line-height: 48px;}
.btn.btn_red{background: var(--color1);border-color:var(--color1);color: #fff;}
.btn.btn_blk{background: var(--color17);border-color: var(--color17);color: #fff;}
.btn.btn_gray{background: var(--color9);border-color: var(--color9);color: #fff;}


.btn.active,
.btn.color1{background: var(--color1);border:1px solid var(--color1);color: #fff;}
.btn.color6{background: var(--color6);border:1px solid var(--color6);color: #fff;}
.btn.disabled{cursor: default;background: var(--color9);color: #fff;}
.btn_excelDown{background: var(--color6);border-color:var(--color6);color: #fff;display: flex;align-items: center;gap: 3px;}
.btn_excelDown:before{content: '';display: inline-block;width:14px;height:14px;background: url('../images/common/icon_exceldown.svg')no-repeat center center;}
.btn_excelUp{background: #fff;color: var(--color14);display: flex;align-items: center;gap: 3px;}
.btn_excelUp:before{content: '';display: inline-block;width:14px;height:14px;background: url('../images/common/icon_excelup.svg')no-repeat center center;}
.btn_exit{background: var(--color17);border-color:var(--color17);color: #fff;}
.btn_ordLog{background: var(--color2);border-color: var(--color2);color:#fff}
.btn_view_fee{background: var(--color5);border-color: var(--color5);color:#fff;}
.btn_inquire .badge{color: var(--color1);}
.btn_del{background: var(--color9);border-color: var(--color9);color: #fff;}
.btn_reply{background: var(--color1);border-color:var(--color1);color: #fff;}
.btn_modi{background: var(--color5);border-color:var(--color5);color: #fff;}

.btn.close_as{position:relative;width:40px;height:40px;}
.btn.plus_as{position:relative;width:30px;height:30px;position:absolute;top: 50%;right: 6px;margin-top: -15px;right:5px;}
.btn.close_as:before,
.btn.plus_as:before,
.btn.plus_as:after{content:'';display:block;clear:both;position:absolute;top:50%;left:50%;background-color:var(--color1)}
.btn.plus_as:before{width:12px;height:2px;margin-top:-1px;margin-left:-6px;}
.btn.plus_as:after{width:2px;height:12px;margin-top:-6px;margin-left:-1px;}
.btn.close_as:before{width:12px;height:2px;margin-top:-1px;margin-left:-6px;}

textarea{width:100%;border:solid 1px var(--color12);padding:10px;}

.d_flex.jc_c{justify-content: center !important;}
.d_flex.jc_sb{justify-content: space-between !important;}
.d_flex.a_c{align-items: center !important;}
.d_flex.fd_col{flex-direction: column !important;}
.d_flex.fw_nw{flex-wrap: nowrap !important;}
.d_flex.gap5{gap: 5px !important;}
.d_flex.gap8{gap: 8px !important;}
.d_flex.gap10{gap: 10px !important;}

.inp_wrap.password{position: relative;}
.inp_wrap.password input[type="password"]{border: var(--box_border);padding: 5px 10px;font-size: var(--fts13);font-weight: 500;line-height: 18px;}
.inp_wrap.password > i{width: 16px;height: 14px;position: absolute;right: 15px;top: 50%;transform: translateY(-50%);}
.icon.icon_eye{background: url('../images/common/icon_eye.svg')no-repeat center center;background-size: cover;}
.icon.icon_eye_slash{background: url('../images/common/icon_eye_slash.svg')no-repeat center center;background-size: cover;}

/* header s*/
#header{width:100%;background-color:#2f2f2f;position: sticky;top: 0;z-index: 100;}
#header .ham_menu{width:34px;height:34px;margin-right:10px;padding:7px 5px;background:#4C4E57;border-radius:100%;display:flex;justify-content:center;flex-direction:column;cursor:pointer;align-items:center;}
#header .ham_menu .line{display:block;width:76%;height:2px;background:#fff;border-radius:5px;margin:2px 0;}
#header .ham_menu.open .line{background-color:var(--color1)}

#header .hd_inner{display:flex;justify-content:space-between;align-items:center;width:100%;padding: 17px 23px;}
#header h1{display: flex;justify-content: flex-start;align-items: center;flex-wrap: nowrap;flex-direction: row;}
#header .logo{display: block;width:78px;height: 18px;background: url('../images/common/logo.svg')no-repeat center;background-size: cover;}
#header .logo > svg{width: 100%;}
#header .slogo{display: block;margin-left:12px;font-size: 0;line-height: 0;}
#header .slogo > span{display:block;font-size: 26px;font-weight: 500;line-height: 37px;color: #fff;letter-spacing: -0.52px;}
#header.login .slogo > span{display:block;font-size: 12px;font-weight: 500;line-height: 17px;color: #fff;letter-spacing: -0.24px;}

#header .hd_notice{white-space: nowrap;position:relative;display:inline-block;margin-left:38px;padding: 0 12px 0 32px;background: rgba(255, 255, 255, .9);border-radius: 22px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
#header .hd_notice:before{content: '';width: 18px;height: 18px;background: var(--color1);position: absolute;left: 6px;top:50%;z-index:1;border-radius:100%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);}
#header .hd_notice > span{display: block;font-size: 12px;font-weight: 500;line-height: 23px;}

#header .hd_search{justify-self: center;}
#header .hd_search .hd_search_inner{display: flex;align-items: stretch;}
#header .hd_search .hd_search_inner .inp_wrap{width: 335px;}
#header .hd_search .hd_search_inner .inp_wrap input{padding:9px 15px;font-size: 14px;font-weight: 500;line-height:20px;}
#header .hd_search .hd_search_inner .submit_btn{width:90px;margin-left:8px;padding:0 30px;background: var(--color1);font-size: 16px;font-weight: 500;line-height:38px;color: #fff;cursor: pointer;}

#header .hd_gnb nav .depth1_menu{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}
#header .hd_gnb nav .depth1_menu > .menu_item{position:relative;padding:10px 0;margin:0 10px;font-weight:500;line-height:20px;color: #fff;}
#header .hd_gnb nav .depth1_menu > .menu_item.lang{padding:0 5px 2px;background: rgba(255, 255, 255, 0.35);}
#header .hd_gnb nav .depth1_menu > .menu_item > a{display: flex;align-items: center;}
#header .hd_gnb nav .depth1_menu > .menu_item > a .icon_arrow{display: block;margin-left:7px;width: 8px;height: 4px;background: url('../images/common/arrow_under_w.svg') no-repeat center center;background-size: contain;}

#header .hd_gnb nav .depth1_menu > .menu_item > .depth2_menu{visibility: hidden;opacity: 0;transition:.5s;min-width:70px;padding:10px 12px;flex-direction:column;justify-content:center;align-items:center;background:#fff;position: absolute;left: 50%;right: 0;top:100%;z-index: 100;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);}
#header .hd_gnb nav .depth1_menu > .menu_item:hover > .depth2_menu{display: flex;opacity: 1;visibility: visible;}
#header .hd_gnb nav .depth1_menu > .menu_item > .depth2_menu > .menu_item{color: #595959;font-size: 12px;}
#header .hd_gnb nav .depth1_menu > .menu_item > .depth2_menu > .menu_item + .menu_item{margin-top: 3px;}
/* header e */

/* lnb s */
#lnb{float:left;position: sticky;left: 0;top: 74px;bottom:0;z-index: 10;background: #40424a;width: 230px;transition: width .45s ease;}

#lnb.closeLnb{width: 90px;}
#lnb.closeLnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap{opacity:1;left:0}
#lnb.closeLnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap .submenu{height:auto}
#lnb.closeLnb .lnb_menu .nav_list .nav_item .submenu{height: 0 !important;}
#lnb.closeLnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap{opacity: 0 !important;position: relative;top: 0;left:0 !important;}
#lnb.closeLnb .lnb_menu .nav_list .nav_item{margin-left: 6px !important;}
#lnb.closeLnb .profile_info{height: 0 !important;}


#lnb .lnb_inner{width:100%;min-height:100%;background: #40424a;position: relative;overflow:hidden}

#lnb .profile_info{margin: 25px 20px;white-space: nowrap;}
#lnb .profile_info .member_info{display: flex;}
#lnb .profile_info .member_info .thumb{width: 75px;height: 75px;}
#lnb .profile_info .member_info .thumb > img{width: 100%;border-radius: 50%;}
#lnb .profile_info .member_info .desc{margin-left: 10px;display: flex;justify-content: center;align-items: flex-start;flex-direction: column;}
#lnb .profile_info .member_info .desc .member_name{font-size: 18px;font-weight:700;line-height: 1;color:#fff}
#lnb .profile_info .member_info .desc > a{display: block;margin-top:8px;padding:0 5px;font-size:10px;font-weight: 500;line-height: 18px;letter-spacing: -0.2px;color:#fff;border-radius: 3px;background-color: #8293a2;}
#lnb .profile_info .member_info .desc .biz_info{display: block;margin-top:8px;padding:0 5px;font-size:10px;font-weight: 500;line-height: 18px;letter-spacing: -0.2px;color:#000;border-radius: 3px;background-color: #e6e6e6;}

#lnb .profile_info .sell_info{margin:20px 0;}
#lnb .profile_info .sell_info ul > li{display: flex;align-items: center;}
#lnb .profile_info .sell_info ul > li + li{margin-top:5px;}
#lnb .profile_info .sell_info ul > li .tit{margin-right: 12px;font-size: 14px;font-weight: 500;line-height:20px;color: #959595;}
#lnb .profile_info .sell_info ul > li .txt{font-size: 16px;font-weight: 500;line-height:24px;color: #fff;}
#lnb .profile_info .sell_info ul > li .txt > span{margin-right: 3px;}

#lnb .profile_info .btn_wrap{display: flex;justify-content: space-between;align-items: center;flex-direction: row;flex-wrap: nowrap;}
#lnb .profile_info .btn_wrap .btn{width: calc(50% - 3px);height:40px;text-align: center;font-size:14px;font-weight:500;line-height:38px;color: #fff;letter-spacing: -0.42px;}
#lnb .profile_info .btn_wrap .btn.tomato{background: var(--color1);border-color: var(--color1);}
#lnb .profile_info .btn_wrap .btn.dark{background: #000;border-color: #000;}

#lnb .profile_info .btn_wrap .btn.dada_market{background: var(--color1);border-color: var(--color1);}
#lnb .profile_info .btn_wrap .btn.dash_board{background: #000;border-color: #000;}

#lnb .profile_info.test{transition: .5s;}
#lnb .profile_info{overflow:hidden;}
#lnb.open .profile_info{height:0!important;}

#lnb .lnb_inner{overflow-y:auto}
#lnb .lnb_menu .nav_list{padding: 0px 20px 50px 10px;}
#lnb .lnb_menu .nav_list .nav_item{position:relative;width:100%;padding:4px 0;cursor: pointer;display:flex;align-items:flex-start;gap:15px;}
#lnb .lnb_menu .nav_list .nav_item .icon_nav_menu{display:block;;width: 42px;height: 42px;background-repeat: no-repeat;background-size: cover;background-position: center;flex:0 0 auto;overflow:hidden}
#lnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap{flex-grow:1;}

/* #lnb .lnb_menu .nav_list .nav_item:first-child .icon_nav_menu{background-image: url('../images/common/icon_menu_01.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(2) .icon_nav_menu{background-image: url('../images/common/icon_menu_02.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(3) .icon_nav_menu{background-image: url('../images/common/icon_menu_03.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(4) .icon_nav_menu{background-image: url('../images/common/icon_menu_04.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(5) .icon_nav_menu{background-image: url('../images/common/icon_menu_05.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(6) .icon_nav_menu{background-image: url('../images/common/icon_menu_06.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(7) .icon_nav_menu{background-image: url('../images/common/icon_menu_07.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(8) .icon_nav_menu{background-image: url('../images/common/icon_menu_08.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(9) .icon_nav_menu{background-image: url('../images/common/icon_menu_09.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(10) .icon_nav_menu{background-image: url('../images/common/icon_menu_10.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(11) .icon_nav_menu{background-image: url('../images/common/icon_menu_11.svg');}
#lnb .lnb_menu .nav_list .nav_item:nth-child(12) .icon_nav_menu{background-image: url('../images/common/icon_menu_12.svg');} */

#lnb .lnb_menu .nav_list .nav_item .nav_menu{display:block;font-size: 15px;font-weight: 500;line-height: 22px;color: #fff;position: relative;}
#lnb .lnb_menu .nav_list .nav_item.open .nav_menu{font-weight: 700;}
#lnb .lnb_menu .nav_list .nav_item .nav_menu:after{content: '';display:block;width:16px;height:16px;background: url('../images/common/menu_close.svg') no-repeat center center;background-size: contain;position: absolute;right: 0;top: 50%;transform:translateY(-50%);}
#lnb .lnb_menu .nav_list .nav_item.open .nav_menu:after{background: url('../images/common/menu_opn.svg')no-repeat center center;background-size: contain;}
#lnb .lnb_menu .nav_list .nav_item .submenu{max-height: 0;overflow: hidden;padding-left: 7px;}
.wrap.complete #lnb .lnb_menu .nav_list .nav_item .submenu{transition:.5s}

#lnb .lnb_menu .nav_list .nav_item .submenu .sub_item{margin-top:14px;font-size:14px;font-weight:500;color: #959595;transition: color .3s;}
#lnb .lnb_menu .nav_list .nav_item .submenu .sub_item:hover{color: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item .submenu .sub_item.active a{color:var(--color1);text-decoration:underlind}

#lnb.open{width:90px;}
#lnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap{opacity:1;transition: .5s;width:127px;white-space: nowrap;left:0;position:relative;margin-top:10px;}
#lnb.open .lnb_menu .nav_list .nav_item > .nav_menu_wrap{opacity: 0;position: relative;top: 0;left:-20px;}

#lnb.open:hover{width: 230px;}
#lnb.open:hover .lnb_menu .nav_list .nav_item > .nav_menu_wrap{opacity:1;left:0}
#lnb.open:hover .lnb_menu .nav_list .nav_item > .nav_menu_wrap .submenu{height:auto}

#lnb .lnb_menu .nav_list .nav_item{transition:.5s}
#lnb.open .lnb_menu .nav_list .nav_item{margin-left:6px;}


#lnb.open .lnb_menu .nav_list .nav_item > .nav_menu_wrap .submenu{}

#lnb .lnb_menu .nav_list .nav_item .icon_nav_menu{transition: .5s;padding:10px}

#lnb .lnb_menu .nav_list .nav_item .icon_nav_menu svg:not(:root){overflow-clip-margin:content-box;overflow:visible;}
#lnb .lnb_menu .nav_list .nav_item .icon_nav_menu path{transition:1s}
#lnb .lnb_menu .nav_list .nav_item .icon_nav_menu path{transform-origin: 50% 50%;}

#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg1 #menu_svg01,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg1 #menu_svg02,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg1 #menu_svg03,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg1 #menu_svg04{fill: var(--color1);}

#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path1,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path1_line,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path2_line,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path3,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path3_line,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path4,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #path4_line{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg2 #vector{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg3 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg3 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg3 #vector-3,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg3 #vector22{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg4 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg4 #vector{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg5 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg5 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg5 #vector-3{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-3,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-4,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-5,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-6,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg6 #vector-7{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg7 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg7 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg7 #vector-3{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector-3,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector-4,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector-5,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg8 #vector-6{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg9 #vector{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector-3,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector-4,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector-5,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg10 #vector-6{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg11 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg11 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg11 #vector-3{fill: var(--color1);}
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg12 #vector,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg12 #vector-2,
#lnb .lnb_menu .nav_list .nav_item.active .icon_nav_menu #menusvg12 #vector-3{fill: var(--color1);}


#menusvg1 #menu_svg01{transform-origin: calc(50% - 1.383px) calc(50% - 1.383px)!important;transform: translate(1.383px, 1.383px) rotateY( 0deg );}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg1 #Group{transform-origin: calc(50% - 5.72px) calc(50% - 5.497px);animation:menusvg1_2 1s linear infinite;}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg1 #menu_svg01{animation:menusvg1_1 1s linear infinite;}
@keyframes menusvg1_1 {
    0% {transform: translate(1.383px, 1.383px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(1.383px, 1.383px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}
@keyframes menusvg1_2 {
    0% {transform: translate(5.72px, 5.497px) scale3d(1, 1, 1);opacity: 1;}
    100% {transform: translate(5.72px, 5.497px) scale3d(.8, .8, .8);opacity: .5;}
}

#menusvg2 #maste{transform-origin: calc(50% - 0.599px) calc(50% - 0.127px)!important;transform: translate(0.599px, 0.127px) rotateY( 0deg );}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg2 #maste{animation:menusvg2_1 1s linear infinite;}
@keyframes menusvg2_1 {
    0% {transform: translate(0.599px, 0.127px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(0.599px, 0.127px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg3 #vector{opacity:.3}
#menusvg3 #vuesax_linear{transform-origin: 50% 50%!important;transform:  rotateY( 0deg );}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg3 #vuesax_linear{animation:menusvg3_1 1s linear infinite;}
@keyframes menusvg3_1 {
    0% {transform: scale3d(1, 1, 1);opacity: 1;}
	100% {transform: scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg4 #vector{transform-origin: calc(50% - 2.672px) calc(50% - 1.747px)!important;transform: translate(2.672px, 1.747px) rotate(0deg);}
#menusvg4 #vector-2{transform-origin: calc(50% - 8px) calc(50% - 8px)!important;transform: translate(8px, 8px) rotate(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg4 #vector{animation:menusvg4_1 1s linear infinite}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg4 #vector-2{animation:menusvg4_2 1s linear infinite}
@keyframes menusvg4_1 {
    0% {transform: translate(2.672px, 1.747px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(2.672px, 1.747px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}
@keyframes menusvg4_2 {
    0% {transform: translate(8px, 8px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(8px, 8px) scale3d(.8, .8, .8);opacity: .5;}
}
#menusvg5 #vector{transform-origin: calc(50% - 2px) calc(50% - 2px)!important;transform: translate(2px, 2px) rotateX(0deg);}
#menusvg5 #vector-2,
#menusvg5 #vector-3{transform-origin: calc(50% - 7.5px) calc(50% - 7.5px)!important;transform: translate(7.5px, 7.5px) rotateX(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg5 #vector{animation:menusvg5_1 1s linear infinite}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg5 #vector-2,
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg5 #vector-3{animation:menusvg5_2 1s linear infinite}
@keyframes menusvg5_1 {
    0% {transform: translate(2px, 2px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(2px, 2px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}
@keyframes menusvg5_2 {
    0% {transform: translate(7.5px, 7.5) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(7.5, 7.5) scale3d(.8, .8, .8);opacity: .5;}
}

#menusvg6 #bag{transform-origin: 50% 50%!important;transform: translate(108px, 188px) rotate(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg6 #bag{animation:menusvg6_1 1.5s linear infinite;}
@keyframes menusvg6_1 {
    0% {transform: translate(108px, 188px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(108px, 188px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg7 #vector{transform-origin: calc(50% - 7.671px) calc(50% - 6.34px)!important;transform: translate(7.671px, 6.34px)}
#menusvg7 #vector-2{transform-origin: calc(50% - 11px) calc(50% - 5.296px)!important;transform: translate(11px, 5.296px) }
#menusvg7 #vector-3{transform-origin: calc(50% - 2px) calc(50% - 2px)!important;transform: translate(2px, 2px) }
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg7 #vector{animation:menusvg7_1 1.5s linear infinite;}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg7 #vector-2{animation:menusvg7_2 1.5s linear infinite;}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg7 #vector-3{animation:menusvg7_3 1.5s linear infinite;}

@keyframes menusvg7_1 {
    0% {transform: translate(7.671px, 6.34px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(7.671px, 6.34px) scale3d(.8, .8, .8);opacity: .5;}
}
@keyframes menusvg7_2 {
    0% {transform: translate(11px, 5.296px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(11px, 5.296px) scale3d(.8, .8, .8);opacity: .5;}
}
@keyframes menusvg7_3 {
    0% {transform: translate(2px, 2pxx) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(2px, 2px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg8 #vector-6{transform-origin: calc(50% - 1.883px) calc(50% - 1.883px)!important;transform: translate(1.883px, 1.883px) rotateY(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg8 #vector-6{animation:menusvg8_1 1.5s linear infinite;}
@keyframes menusvg8_1 {
    0% {transform: translate(1.883px, 1.883px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(1.883px, 1.883px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg9 #vector{transform-origin: calc(50% - 1.831px) calc(50% - 2.374px)!important;transform: translate(1.831px, 2.374px) scale3d(1, 1, 1);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg9 #vector{animation:menusvg9_1 1s linear infinite;}
#menusvg9 #vector2{transform-origin: calc(50% - 1.831px) calc(50% - 2.374px)!important;transform: translate(1.831px, 2.374px) scale3d(1, 1, 1);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg9 #vector2{animation:menusvg9_2 1s linear infinite;}
@keyframes menusvg9_1 {
    0% {transform: translate(1.831px, 2.374px) scale3d(1, 1, 1);opacity: 1;}
	90% {transform: translate(1.831px, 2.374px) scale3d(.5, .5, .5);opacity: 0;}
    100% {transform: translate(1.831px, 2.374px) scale3d(.2, .2, .2);opacity: 0;}
}

@keyframes menusvg9_2 {
    0% {transform: translate(1.831px, 2.374px) scale3d(1, 1, 1);opacity: 1;}
	50% {transform: translate(1.831px, 2.374px) scale3d(1.1, 1.1, 1.1);opacity: 1;}
    100% {transform: translate(1.831px, 2.374px) scale3d(1.4, 1.4, 1.4);opacity: 1;}
}
#menusvg10 #vector{transform-origin: calc(50% - 1.816px) calc(50% - 2.724px)!important;transform: translate(1.816px, 2.724px) rotateY(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg10 #vector{animation:menusvg10_1 1s linear infinite;}
@keyframes menusvg10_1 {
    0% {transform: translate(1.816px, 2.724px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(1.816px, 2.724px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg11 #vector{transform-origin: calc(50% - 2.692px) calc(50% - 1.85px)!important;transform: translate(2.692px, 1.85px) rotateX(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg11 #vector{animation:menusvg11_1 1s linear infinite;}
@keyframes menusvg11_1 {
    0% {transform: translate(2.692px, 1.85px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(2.692px, 1.85px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg12 #shopping-bag{transform-origin: calc(50%) calc(50%)!important;transform: translate(686px, 188px) rotateY(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg12 #shopping-bag{animation:menusvg12_1 1s linear infinite;}
@keyframes menusvg12_1 {
    0% {transform: translate(686px, 188px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(686px, 188px) scale3d(1.4, 1.4, 1.4);opacity: .5;}
}

#menusvg12 #shopping-bag{transform-origin: calc(50%) calc(50%)!important;transform: translate(686px, 188px) rotateY(0deg);}
#lnb .lnb_menu .nav_list .nav_item:hover .icon_nav_menu #menusvg12 #shopping-bag{animation:menusvg12_1 1s linear infinite;}
@keyframes menusvg12_1 {
    0% {transform: translate(686px, 188px) scale3d(1, 1, 1);opacity: 1;}
	100% {transform: translate(686px, 188px) scale3d(1.2, 1.2, 1.2);opacity: .5;}
}


.sdfun{
    transition: 1s;
    transform: translate(5.72px, 5.497px) rotate( 0deg );
    transform: translate(5.72px, 5.497px) rotate( 180deg );
    transform-origin: 5.497px 5.497px!important;

    /* menu1 */
    transform-origin: calc(50% - 1.383px) calc(50% - 1.383px);
    transform: translate(1.383px, 1.383px) rotate( 0deg );
    transform: translate(1.383px, 1.383px) rotate( 180deg );

    transform-origin: calc(50% - 1.383px) calc(50% - 1.383px);
    transform: translate(1.383px, 1.383px) rotateY( 0deg );
    transform: translate(1.383px, 1.383px) rotateY( 360deg );

    /* menu2 */
    transform-origin: calc(25% - 0.607px) calc(50% - 0.527px);
    transform: translate(-0.607px, -0.527px) rotateY( 0deg );
    transform: translate(-0.607px, -0.527px) rotateY( 360deg );
}

@keyframes dash1 {
	30% {fill: var(--color1);}
    100% {fill: var(--color1);}
}

/* 예제 svg stroke 
#lnb.open .lnb_menu .nav_list .nav_item.open .icon_nav_menu #menu_svg01{stroke-linecap:round;stroke-dasharray:300;stroke-dashoffset:300;animation:dash 2s linear forwards;stroke:var(--color1);stroke-width:1px;}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
*/


/* lnb ui 데모 */
#lnb #btnNavbar{position: absolute;left: 230px;top: 0;width: 25px;height: 65px;background: #fff;border-right: var(--cont_border);border-bottom:var(--cont_border);cursor: pointer;}
#lnb #btnNavbar > i.icon_navbar{display:block;width:100%;height:100%;background-image: url('../images/common/icon_navbar.svg');background-repeat:no-repeat;background-position:center;background-size: 10px 14px;}
/* .wrap.nav_open #lnb #btnNavbar > i.icon_navbar{background-image: url('../images/common/icon_navbar_open.svg');} */
/* .wrap.nav_open #lnb .lnb_menu .nav_list .nav_item .submenu{max-height: unset;}
.wrap.nav_open #lnb .profile_info{display: none;}
.wrap.nav_open #lnb .profile_info > *{display: none;}
.wrap.nav_open #lnb .lnb_menu .nav_list .nav_item > .nav_menu_wrap{display: none;} */

/* lnb e */

/* table */
.tbl_wrap{padding-top:15px}
.motiv_tbl{width:100%;border-right: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;overflow: hidden;}
.motiv_tbl .tbl_inner{overflow-x: auto;}
.motiv_tbl .tbl_head .d_flex,
.motiv_tbl .tbl_body .d_flex{width: 2562px;flex-direction:row;display: flex;flex-wrap: wrap;}
.motiv_tbl .tbl_head .hd_item{box-sizing:border-box; min-height:40px;display: table;text-align:center;font-size: 12px;font-weight: 400;line-height: 17px;color: #000;border-left: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;background: #f5f5f5;}
.motiv_tbl .tbl_body .hd_item{box-sizing:border-box;min-height:40px;display: table;text-align:center;font-size: 12px;font-weight: 400;line-height: 17px;color: #000;border-left: 1px solid #e3e3e3;border-top: 1px solid #e3e3e3;background: #ffffff;}
.motiv_tbl .row_item{position:relative}

.motiv_tbl .tbl_body .sub_row{width:2562px;height:0;background: #e3e3e3;overflow: hidden;transition:.3s}
.motiv_tbl .tbl_body .sub_row .motiv_tbl{padding:20px 15px 30px} 
.motiv_tbl .tbl_body .sub_row .sub_row_inner{overflow-x: auto;}
.motiv_tbl .tbl_body .sub_row .sub_row_inner .tbl_head,
.motiv_tbl .tbl_body .sub_row .sub_row_inner .tbl_body{width: 2562px;}
.motiv_tbl .tbl_body .sub_row .sub_row_inner .tbl_head .hd_item{color:#fff;background: #40424a;}


.motiv_tbl .hd_item .cus_inp_wrap{width:20px;height:20px;display:inline-block;position: relative}
.motiv_tbl .hd_item .cus_inp_wrap .inp_box{padding: 0;position: static;}
.motiv_tbl .hd_item .cus_inp_wrap.checkbox_inp .inp_box .inp_custom{top:1px}
.motiv_tbl .hd_item .opt_sta{color: var(--color3);position:relative;}
/* .motiv_tbl .hd_item .opt_sta:after{content: '';display: block;width: 100%;height: 1px;position: absolute;left: 0;right: 0;bottom: 0;background: var(--color3);} */
.motiv_tbl .hd_item .opt_sta .opt_more{text-decoration: underline;}
.motiv_tbl .hd_item.th_bg{background: #f5f5f5;}

.motiv_tbl .row_sorting .hd_item > div{position: relative;}
.motiv_tbl .row_sorting .hd_item .sort_box{display: flex;align-items: center;gap:6px;justify-content: center;}
.motiv_tbl .row_sorting .hd_item .sort_item{display: flex;}
.motiv_tbl .row_sorting .hd_item .sort_item > span{width: 6px;height: 9px;background-repeat: no-repeat;background-position: center;background-size: cover;cursor: pointer;}
.motiv_tbl .row_sorting .hd_item .sort_item > span.up{background-image: url('../images/common/sort_up.svg');}
.motiv_tbl .row_sorting .hd_item .sort_item > span.down{background-image: url('../images/common/sort_under.svg');}
.motiv_tbl .row_sorting .hd_item .sort_item > span.up.on{background-image: url('../images/common/sort_up_on.svg');}
.motiv_tbl .row_sorting .hd_item .sort_item > span.down.on{background-image: url('../images/common/sort_under_on.svg');}

.motiv_tbl .tbl_head .hd_item > div,
.motiv_tbl .tbl_body .hd_item > div{height:100%;vertical-align: middle;display: table-cell;word-break: break-all;padding:0 5px;}

.motiv_tbl .hd_item > div.tbl_row{height:50%;display: table-row;}
.motiv_tbl .hd_item > div.tbl_row > div{padding: 10px 0;display: table-cell;vertical-align: middle;}
.motiv_tbl .hd_item > div.tbl_row:first-child > div{display: table-cell;vertical-align: middle;box-sizing:border-box;border-bottom:solid 1px #e3e3e3;}

.motiv_tbl .tbl_body .hd_item > div.tbl_col{width:50%;}
.motiv_tbl .tbl_body .hd_item > div.tbl_col > div{height:100%;padding: 10px;}
.motiv_tbl .tbl_body .hd_item > div.tbl_col:first-child{border-right: solid 1px #e3e3e3;}

.motiv_tbl .tbl_body .hd_item > div.tbl_col .tbl_row:first-child{border-bottom:solid 1px #e3e3e3;}

.motiv_tbl .tbl_body .hd_item .flex_item{display: flex;justify-content:center;align-items: center;gap:8px;}
.motiv_tbl .tbl_body .hd_item .flex_item.fd_col{flex-direction: column;}

.motiv_tbl.lock_tbl .tbl_inner .tbl_head,
.motiv_tbl.lock_tbl .tbl_inner .tbl_body{display:flex}
.motiv_tbl.lock_tbl .tbl_inner{overflow-x: visible;}
.motiv_tbl.lock_tbl .tbl_body .look_body_list {overflow-x:auto}

.motiv_tbl.normal_tbl .tbl_inner .tbl_head,
.motiv_tbl.normal_tbl .tbl_inner .tbl_body{display:flex}


/* motiv_tbl normal */
.motiv_tbl.normal{}
.motiv_tbl.normal .tbl_head .d_flex, 
.motiv_tbl.normal .tbl_body .d_flex{width:100%;max-width: 1800px;gap: 0;}
.motiv_tbl.normal .tbl_inner{overflow:hidden}
.motiv_tbl.normal .tbl_inner .hd_item{flex-basis: 80px;flex-grow: 1;}
.motiv_tbl.normal .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.normal.layer_type1 .tbl_inner .hd_item:first-child{flex-basis: 80px;flex-grow: 1;}
.motiv_tbl.normal.layer_type1 .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis:120px}
.motiv_tbl.normal.layer_type2 .tbl_inner .hd_item:first-child{flex-basis: 80px;flex-grow: 1;}
.motiv_tbl.normal.layer_type2 .tbl_inner .hd_item:first-child + .hd_item{flex-basis:140px}
.motiv_tbl.normal.layer_type3 .tbl_inner .hd_item:first-child{flex-basis: 80px;flex-grow: 1;}
.motiv_tbl.normal.layer_type3 .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis:140px}
.motiv_tbl.normal.layer_type3 .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:120px}
.motiv_tbl.normal.layer_type3 .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:100px}

.motiv_tbl.normal.basic .tbl_inner .hd_item:first-child{flex-basis: 80px;flex-grow: 1;}
.motiv_tbl.normal.log_tbl .tbl_inner .hd_item:first-child{flex-basis: 80px;flex-grow: 1;}

.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{text-align:left;padding:0 10px}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}
.motiv_tbl.question_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}

.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child + .hd_item{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item + .hd_item + .hd_item{text-align:left;padding:0 10px}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.notice_tbl .tbl_inner .hd_item:first-child+ .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}

.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item{flex-grow: 0;flex-basis: 100px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-grow: 0;flex-basis: 100px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 100px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 120px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 180px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.basic_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}


.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item{flex-grow: 1;flex-basis: 100px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-grow: 1;flex-basis: 150px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 80px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 80px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 100px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 100px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 100px;}
.motiv_tbl.exhibit_tbl .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 1;flex-basis: 100px;}

.motiv_tbl.exhibit_tbl2 .tbl_inner .hd_item{flex-grow: 1;flex-basis:80px}
.motiv_tbl.exhibit_tbl2 .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}

.motiv_tbl.fees_form .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 40px;}
.motiv_tbl.fees_form .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 150px;}

.motiv_tbl.appoint_sales .tbl_inner .hd_item{flex-grow: 1;flex-basis: 80px;}
.motiv_tbl.appoint_sales .tbl_inner .hd_item:first-child{flex-basis: 180px;}
.motiv_tbl.appoint_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis:200px;}
.motiv_tbl.appoint_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:120px;}
.motiv_tbl.appoint_sales .tbl_inner .hd_item > div{padding: 5px 10px;}
/* .motiv_tbl.appoint_sales .tbl_inner .hd_item .btn_wrap .btn{flex: 1;} */

.motiv_tbl.appoint_sales.in_image .tbl_inner .hd_item:first-child{flex-basis: 80px;}
.motiv_tbl.appoint_sales.in_image .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis:150px;}
.motiv_tbl.appoint_sales.in_image .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-basis:180px;}
.motiv_tbl.appoint_sales.in_image .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:80px;}
.motiv_tbl.appoint_sales.in_image .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:150px;}
.motiv_tbl.in_image .tbl_inner .hd_item .img_box{max-width: 50px;max-height: 50px;margin: 0 auto;padding:5px 10px;line-height:0;}
.motiv_tbl.in_image .tbl_inner .hd_item .img_box img{width: 100%;}

.motiv_tbl.normal.appoint_seller .tbl_inner .hd_item{flex-grow:1;flex-basis:80px;}
.motiv_tbl.normal.appoint_seller .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 100px;}
.motiv_tbl.normal.appoint_seller .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.appoint_seller .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:100px;}

.motiv_tbl.normal.withdraw .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.withdraw .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}

.motiv_tbl.normal.daily_sales .tbl_inner .hd_item{flex-grow:1;flex-basis:80px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child{flex-grow:0;flex-basis:120px}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item{flex-grow:0;flex-basis:80px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis: 100px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-basis: 100px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.daily_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}

.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item{flex-grow:1;flex-basis:80px;}
.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item:first-child{flex-grow:0;flex-basis:120px}
.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item:first-child + .hd_item{flex-grow:0;flex-basis: 80px;}
.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-basis: 150px;}
.motiv_tbl.normal.hourly_sales .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis: 180px;}

.motiv_tbl.normal .tbl_inner .hd_item .sta.red{color: var(--color1);}
.motiv_tbl.normal .tbl_inner .hd_item .sta.red2{color: var(--color25);}
.motiv_tbl.normal .tbl_inner .hd_item .sta.green{color: var(--color2);}
.motiv_tbl.normal .tbl_inner .hd_item .sta.blue{color: var(--color3);}

.motiv_tbl.normal.seller_sta .tbl_inner .hd_item{flex-grow:1;flex-basis:100px;}
.motiv_tbl.normal.seller_sta .tbl_inner .hd_item:first-child{flex-grow:0;flex-basis: 80px;}

.look_head_box,
.look_body_box{overflow:hidden}
.look_head_head,
.look_body_head{position:relative}

.row_item.row_th .hd_item{box-sizing:border-box;min-height:40px;display:table;text-align:center;font-size:12px;font-weight:500;line-height:17px;color:#000;border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3;background:#f5f5f5;}
.lock_tbl .look_body_box{overflow-x: auto;}
.row_item.row_th .hd_item.item_row .item_row_tbl{display:flex;padding:0;min-height:40px;width:100%;align-items:center;}
.row_item.row_th .hd_item.item_row .item_row_tbl > div{display:flex;min-height:40px;align-items:center;justify-content:center;border-left:solid 1px #e3e3e3;}
.row_item.row_th .hd_item.item_row .item_row_tbl > div:first-child{border-left:none}
.row_item.row_th .hd_item.item_row{border-left: none;position:relative}
.row_item.row_th .hd_item.item_row:after{content:'';display:block;clear:both;position:absolute;top:0;left:0;width:1px;height:100%;background-color:#e3e3e3}

.item_th{float:left;width:100%;display: inline-block;padding:0;min-height:40px;border-bottom:solid 1px #e3e3e3;line-height:40px;} 
.row_item.row_th .hd_item .item_row_tbl .hd_item{border:none}
.sub_row .row_item.row_th .hd_item{color: #fff;background: #40424a;font-size: 11px;font-weight:700}
.sub_row .row_item .hd_item{font-size: 11px;}

.look_head_head:after,
.look_body_head:after{content:'';display:block;clear:both;position:absolute;top:0;right:-1px;width:1px;height:100%;background-color:#e3e3e3;z-index:1}

/* paging */
.motiv_paging{margin-top:30px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content:center;align-items: center;}
.motiv_paging > ul{display: flex;}
.motiv_paging > ul li{margin:0 10px;}
.motiv_paging > ul > li > a{font-size:14px;line-height:1;color: #595959;}
.motiv_paging > ul > li > a.this{color: var(--color1);}
.motiv_paging .prev,
.motiv_paging .next{display:block;width: 4px;height: 8px;margin:0 10px;background-repeat:no-repeat;background-position:center;background-size: contain;}
.motiv_paging .first,
.motiv_paging .last{display:block;width: 8px;height: 8px;margin:0 10px;background-repeat:no-repeat;background-position:center;background-size: contain;}
.motiv_paging .prev{background-image: url('../images/common/paging_prev.svg');}
.motiv_paging .next{background-image: url('../images/common/paging_next.svg');}
.motiv_paging .first{background-image: url('../images/common/paging_first.svg');}
.motiv_paging .last{background-image: url('../images/common/paging_last.svg');}

/* input custom */
.cus_inp_wrap {display: flex;align-items: center;gap: 14px;}
.cus_inp_wrap .inp_box{cursor: pointer;position: relative;padding-left: 25px;font-size: 12px;font-weight: 500;line-height: 20px;}
.cus_inp_wrap .inp_box input[type="checkbox"],
.cus_inp_wrap .inp_box input[type="radio"]{position: absolute;opacity: 0;height: 0;width: 0;}

/* input radio */
.cus_inp_wrap.radio_inp .inp_box input[type="radio"]:checked ~ .inp_custom {border: 1px solid var(--color1);}
.cus_inp_wrap.radio_inp .inp_box .inp_custom:after{content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 10px;height: 10px;border-radius: 50%;background: #cacdd0;}
.cus_inp_wrap.radio_inp .inp_box input[type="radio"]:checked ~ .inp_custom:after {background-color: var(--color1);}
.cus_inp_wrap.radio_inp .inp_box .inp_custom{position: absolute;top: 0;left: 0;height: 20px;width: 20px;border-radius: 50%;background-color: #fff;border: 1px solid #cacdd0;}

/* input checkbox */
.cus_inp_wrap.checkbox_inp .inp_box input[type="checkbox"]:checked ~ .inp_custom {border: none;background-color:var(--color1);}
.cus_inp_wrap.checkbox_inp .inp_box .inp_custom:after{content:"";position:absolute;left:6px;top:2px;width:7px;height:14px;border:solid #fff;border-width:0 3px 3px 0;transform:rotate(45deg)}
.cus_inp_wrap.checkbox_inp .inp_box input[type="checkbox"]:checked ~ .inp_custom:after {background-color: var(--color1);}
.cus_inp_wrap.checkbox_inp .inp_box .inp_custom{position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: #fff;border: 1px solid #cacdd0;}

/* 토스트메세지 */
.dada_toast{position:fixed;bottom:30px;left:50%;padding:15px 20px;transform:translate(-50%,10px);border-radius:8px;overflow:hidden;font-size:var(--fts14);opacity:0;visibility:hidden;transition:opacity .5s,visibility .5s,transform .5s;background:rgba(0,0,0,.5);color:#fff;z-index:10000}
.dada_toast.center{bottom:50%;}
.dada_toast.reveal{opacity:1;visibility:visible;transform:translate(-50%,0)}
.prd_item .dada_toast{min-width:140px;position:absolute;border-radius:17px;font-size:var(--fts13);padding: 8px 10px;bottom: auto;top: 50%;margin-top: -15px;}

/* 알럿 이전
.dada_alt_wrap{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:500;transition:.3s;opacity:0}
.dada_alt_wrap.open{}
.dada_alt_wrap.open .dada_alt_body{}
.dada_alt_wrap .dada_alt_body{position:absolute;top:50%;left:50%;min-width:500px;max-height:500px;margin-top:-250px;margin-left:-250px;background-color:#fff;z-index:501}
.dada_alt_wrap .dada_alt_body .dada_cont{font-size:var(--fts16);font-weight:var(--ftw500);text-align:center;margin:45px 0}
.dada_alt_wrap .dada_alt_body .dada_btn_wrap{text-align:center;padding-bottom: 30px;}
.dada_alt_wrap .dada_alt_body .dada_btn_wrap .dada_btn{display:inline-block;color:#fff;min-width:120px;height:40px;margin:0 5px;line-height:40px;font-size:var(--fts14);font-weight:var(--ftw500);cursor:pointer}
.dada_alt_wrap .dada_alt_body .dada_btn_wrap .dada_btn.co_1{background-color:var(--color1)}
.dada_alt_wrap .dada_alt_body .dada_btn_wrap .dada_btn.co_9{background-color:var(--color9)}
.dada_close_box{}
.dada_close_box:after{content:'';display:block;clear:both;}
.dada_close_box .dada_close_btn{position:absolute;top:10px;right:10px;width:25px;height:25px;cursor:pointer}
.dada_close_box .dada_close_btn:before, 
.dada_close_box .dada_close_btn:after{position:absolute;top:50%;left:50%;content:' ';height:25px;width:2px;background-color:#000;margin-top:-12px}
.dada_close_box .dada_close_btn:before {transform: rotate(45deg);}
.dada_close_box .dada_close_btn:after {transform: rotate(-45deg);}
.dada_alt_wrap .dada_bg{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0, .5)} 
*/

/* 인풋 파일 커스텀 */
.filebox label{display:inline-block;height:40px;line-height:38px;padding:0 15px;font-size:var(--fts13);font-weight:var(--ftw500);color:var(--color14);border:var(--cont_border);background:#fff;box-sizing:border-box;white-space:nowrap;border-radius:5px;}
.filebox input[type="file"]{position:absolute;width:0;height:0;padding:0;overflow:hidden;border:0;}

/* highcharts */
.highcharts-figure,
.highcharts-data-table table{min-width:600px;margin:1em auto;}
.highcharts-data-table table{font-family:Verdana, sans-serif;border-collapse:collapse;border:1px solid #ebebeb;margin:10px auto;text-align:center;width:100%;max-width:500px;}
.highcharts-data-table caption{padding:1em 0;font-size:1.2em;color:#555;}
.highcharts-data-table th{font-weight:600;padding:0.5em;}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption{padding:0.5em;}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even){background:#f8f8f8;}
.highcharts-data-table tr:hover{background:#f1f7ff;}