@charset "utf-8";

/* etc */
.w40p{width:40px;}
.w60p{width:60px;}
.w80p{width:80px;}
.w100p{width:100px;}

#content .contents_box .srh_box .srh_item .srh_cont .select_wrap{min-width:130px;background-color:#fff}
#content .tbl_panel .panel_tbl{}

.item_titss{display:flex;align-items:center;justify-content:space-between;padding:15px 20px;border-bottom:var(--cont_border);background-color:#fff}
.item_titss .name{font-size:var(--fts16);font-weight:var(--ftw700);}
.icon_refresh.on{animation: rotate 2s linear infinite}
@keyframes rotate{
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(180deg);}
}

.loading_spinner {
    float:left;
    width: 17px;
    height: 17px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;margin-right: 8px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 상품 리스트 추가 */
#content .contents_box.prd_cont .prd_list .prd_item{position:relative}
#content .contents_box.prd_cont .prd_list .prd_item:before,
#content .contents_box.prd_cont .prd_list .prd_item:after{content:'';display:block;clear:both;position:absolute;top:0;left:0;margin: -1px;z-index:10;visibility: hidden;transition:.5s}
#content .contents_box.prd_cont .prd_list .prd_item:hover:before{width:100%;height:2px;background-color:var(--color1);visibility: visible;}
#content .contents_box.prd_cont .prd_list .prd_item:hover:after{width:2px;height:calc(100% + 2px);background-color:var(--color1);visibility: visible;}

#content .contents_box.prd_cont .prd_list .prd_item .desc:before,
#content .contents_box.prd_cont .prd_list .prd_item .desc:after{content:'';display:block;clear:both;position:absolute;bottom:0;right:0;margin: -1px;z-index:10;visibility: hidden;transition:.5s}
#content .contents_box.prd_cont .prd_list .prd_item:hover .desc:before{width:100%;height:2px;background-color:var(--color1);visibility: visible;}
#content .contents_box.prd_cont .prd_list .prd_item:hover .desc:after{width:2px;height:calc(100% + 2px);background-color:var(--color1);visibility: visible;}

#content .contents_box.prd_cont .prd_list .prd_item .thumb .info_item{z-index:11}
#content .contents_box.prd_cont .prd_list .prd_item .thumb .info_item.noti{transition:.5s;visibility: hidden;opacity:0;z-index:4}
#content .contents_box.prd_cont .prd_list .prd_item:hover .thumb .info_item.noti{visibility: visible;opacity:1}

#content .contents_box.prd_cont .prd_list .prd_item .thumb .info_item.bar > div{height:35px;transition:.5s;transform: translate(-100%, 0px);padding: 0;padding-left: 7px;line-height: 35px;}
#content .contents_box.prd_cont .prd_list .prd_item .thumb .info_item.bar > div.open{ height: 35px;transform: translate(0%, 0px);}

.script_test_body{position:fixed;top:50%;right:0;z-index:900}
.script_test_body > div{padding:10px 20px;border:solid 1px #ccc;background-color:#fff;border-right:none;cursor:pointer;margin-top:10px;}
.script_test_body > div:first-child{margin-top:0}

/* 상품관리 */
.srh_item_wrap{visibility: hidden;height: 0;}
.hide_srh_box{border-top: var(--cont_border);display:none}
.open .hide_srh_box{display:block}
.search_block{width:40%}
.search_block .srh_cont{width:100%}
.search_block .srh_cont .inp_wrap{max-width:100%!important;width:100%}

#sandbox_container{width:500px;}
#sandbox_container.mini{width:340px;}
#sandbox_container.date{width:auto}
#sandbox_container.date.size_m{width:250px}

#sandbox_container.mini > input{max-width:160px;}
#sandbox_container.mini > input:first-child{max-width:160px;}
#sandbox_container > input{float:left;max-width:210px;margin-left:10px;border: var(--cont_border);padding:10px;position: relative;}
#sandbox_container > input:first-child{float:left;max-width:210px;margin-left:0}
#sandbox_container > input:first-child + span + input{margin-left:0}
#sandbox_container > span{float:left;height:40px;padding:0 10px;margin:0;line-height:40px;box-sizing:border-box}
#sandbox_container > span.input-group-addon{float: left;height: 40px;line-height:auto;padding:0;}
.datepicker table tr td.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active:hover{
    background-image: -moz-linear-gradient(to bottom,#08c,#04c)!important;
    background-image: -ms-linear-gradient(to bottom,#fd6760,#fd6760);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fd6760),to(#fd6760))!important;
    background-image: -webkit-linear-gradient(to bottom,#fd6760,#fd6760)!important;
    background-image: -o-linear-gradient(to bottom,#fd6760,#fd6760)!important;
    background-image: linear-gradient(to bottom,#fd6760,#fd6760)!important;
}
#sandbox_container > input{background: rgb(255,255,255) url('../images/common/icon_calendar.svg')no-repeat right 10px center;background-size: 20px;cursor: pointer;}


/* 쇼핑몰 관리 */
.store_add_cont{}
.store_inner{display:flex;align-items:center;gap:14px;color:var(--color14);}
.store_cont{display:flex;align-items:center;gap:14px;color:var(--color14);}
.store_img_wrap{display:flex;gap:15px;}
.store_img_item{width:140px;height:140px;position:relative;overflow:hidden;}
.store_add_btnbox{width:140px;height:140px;overflow:hidden;background:#fff;border:1px dotted var(--color5);position:relative;}
.store_btn_plus{width:45px;height:45px;box-sizing:border-box;background-repeat:no-repeat;background-position:center;background-size:cover;cursor:pointer;background-image:url(../images/common/plus.svg);position:absolute;left:50%;top:50%;z-index:5;transform:translate(-50%,-50%);cursor:pointer;}

/* tblList */
#content .panel_head{padding: 20px;}
#content .panel_head.bdr_bot{border-bottom: var(--box_border);}
#content .cont_group{justify-content: space-between;align-items: center;}
#content .cont_group .panel_count{display: flex;gap:5px;font-size:var(--fts14);font-weight:var(--ftw500);color: #595959;}
#content .cont_group .panel_count .slash{color: #000;font-weight: var(--ftw700);}
#content .cont_group .panel_count .count_sta{margin-left:3px;font-weight:var(--ftw700);}
#content .cont_group .all_count .count_sta{color: #000;}
#content .cont_group .srh_count .count_sta{color:var(--color3);}
#content .cont_group .cont_left,
#content .cont_group .cont_right{display: flex;align-items:center;gap: 10px;}
#content .cont_group .tab_box{margin: 0;}
#content .cont_group .select_wrap{width: 150px;}
#content .cont_group .select_wrap.tbl_search{width:100px}
#content .cont_group .icon_tbl_cus{display:inline-block;width: 20px;height:20px;background: url('../images/common/icon_tbl_cus.svg')no-repeat center center;background-size: cover;cursor: pointer;}
#content .cont_group .icon_tbl_cus:hover{animation: rotate 2s linear infinite}

#content .btn_group{display: flex;justify-content: flex-end;align-items: center;}
#content .panel_body{padding: 20px;}


.sub_infor{padding:10px 20px 0 20px;text-align:left;color:var(--color13)}
.sub_infor p{margin-top:3px;}
.sub_infor p:first-child{margin-top:0}

.sub_infor.ref p{position:relative;padding-left:18px;}
.sub_infor.ref p:before{content:'※';display:block;clear:both;position:absolute;top:0;left:0;}

#content .motiv_tbl_box .sub_infor{padding:0;margin-top:10px;}
.panel_count .sub_infor{padding:0;padding-left:15px}

/* btn */
#content .contents_box .srh_btn_box .btn_wrap{position:relative}
#content .contents_box .srh_btn_box .btn_wrap .btn.btn_search_open{width:40px;position:absolute;bottom:0;right:20px;font-size:0;}
#content .btn.btn_search_open.infor_box{width:40px;position:relative;bottom:0;right:20px;font-size:0;}

i.arrow{border:solid var(--color5);border-width:0 2px 2px 0;display:inline-block;padding:4px 4px 2px 2px;position: absolute;top: 50%;left: 50%;margin-top:-3px;margin-left:-3px;transition:.5s;transform:rotate(-135deg);-webkit-transform:rotate(-135deg)}
i.down{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:-5px;}


/* 실제 table */
#content .motiv_tbl_box.name_k .motiv_normal_tbl thead tr th,
#content .motiv_tbl_box.name_k .motiv_normal_tbl tbody tr th{background: var(--search_box_bg);}
#content .motiv_tbl_box.name_k .motiv_normal_tbl tr th,
#content .motiv_tbl_box.name_k .motiv_normal_tbl tr td{height:40px;}
#content .panel_body .motiv_tbl_box.name_k{padding:0;}
#content .panel_body .btn_group + .motiv_tbl_box.name_k{margin-top:15px;}

#content .motiv_tbl_box.name_k .motiv_normal_tbl td .sub_infor{float:left;width:100%;margin-top:5px;}


.motiv_normal_tbl.ta_c th,
.motiv_normal_tbl.ta_c td{text-align:center}
.tbl_title{font-size:var(--fts14);font-weight:var(--ftw700)}
.tbl_title + .motiv_normal_tbl{margin-top:10px;}

#content .contents_box .srh_box .srh_item .srh_cont + .srh_cont{margin-left:25px;}

/* multi_tbl */
.multi_tbl{display:table;width:100%}
.multi_tbl > .tbl_row{display:table-row}
.multi_tbl > .tbl_cell{display:table-cell;vertical-align: middle;}
.mu_btl_ti{font-size:var(--fts16)}

/**/
#content .contents_box.center_cont .srh_box{background-color:#fff}
#content .contents_box .srh_box .srh_item .srh_title + .srh_value{margin-left:10px;font-size:var(--fts16);font-weight:var(--ftw700)}
#content .contents_box .srh_box .srh_item .srh_title + .srh_value + .btn{margin-left:20px;}
.blue_val .srh_value{color:var(--color3)}


/* input */
#content .motiv_tbl_box.name_k .motiv_normal_tbl .inp_wrap input[type="text"]{padding:10px;box-sizing:border-box}

.cus_inp_wrap.normal{float:left;line-height:40px;display:inline-block}
.cus_inp_wrap.normal + div{float:left;margin-left:10px;}
.inp_name{float:left;margin-left:7px;}

#content .inp_wrap.adress_form:after{content:'';display:block;clear:both}
#content .inp_wrap.adress_form > * {float:left;margin-left:7px;}
#content .inp_wrap.adress_form > input[type="text"]{width:150px;}
#content .inp_wrap.adress_form > *:first-child{margin-left:0;}
#content .inp_wrap.adress_form > input[type="text"] + .btn{margin-left:7px;}
#content .inp_wrap.adress_form + .inp_wrap{margin-top:10px;}

#content .inp_wrap.email_form:after{content:'';display:block;clear:both;box-sizing:border-box}
#content .inp_wrap.email_form > * {float:left;margin-left:7px;}
#content .inp_wrap.email_form > input[type="text"]{width:150px;}
#content .inp_wrap.email_form > *:first-child{margin-left:0;}
#content .inp_wrap.email_form > input[type="text"]:first-child + span{line-height:40px}
#content .inp_wrap.email_form > span + input[type="text"]{width:200px}
#content .inp_wrap.email_form > .select_wrap{text-align:left;min-width:100px;}
#content .inp_wrap.email_form > .select_wrap .select_name:after{right: 0;}

#content .select_wrap .select_box .opt_list .opt_item{padding:5px 10px;display:block;display:-webkit-box;overflow:hidden;max-height:30px;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical}
#content .select_wrap .select_box .opt_list .opt_item:hover{background-color:var(--color15)}

.calendar_form{display:inline-block;}
.calendar_form:after{content:'';display:block;clear:both}
.calendar_form .inp_wrap{float:left;margin-left:10px;}
.calendar_form .inp_wrap:first-child{margin-left:0;}

#content .inp_wrap.percent_form{float:left;width:80px;}
#content .contents_box .sub_text{float:left;line-height:40px;margin-left:10px;}

.motiv_tbl .tbl_inner .hd_item .inp_wrap{padding:5px 0 0 5px}
.motiv_tbl .tbl_inner .hd_item .inp_wrap input[type="text"]{line-height: 30px;min-height: 30px;}

/* h 시리즈 */
.wrap #content h2{font-size:var(--fts20);margin-top:25px;}


