@charset "utf-8";

/* 레이어 팝업 */
.motiv_layer{background: #fff;}
.motiv_layer.type1 .layer_head{height:45px;padding:0 20px;display:flex;justify-content:center;align-items:center;background: var(--color5);position: relative;}
.motiv_layer.type1 .layer_head .title{font-size:var(--fts15);font-weight:var(--ftw700);color: #fff;}
.motiv_layer.type1 .layer_head .btn_close{width: 12px;height: 12px;position: absolute;top:50%;right: 20px;background: #fff;transform: translateY(-50%);}

.motiv_layer.type2{position: relative;}
.motiv_layer.type2 .btn_close{width: 40px;height: 40px;position: absolute;left: 50%;top: -20px;transform: translateX(-50%);background: #000;}
.motiv_layer.type2 .layer_body{padding: 35px 20px 45px;}

.motiv_layer .layer_body{padding:25px 20px 30px;}
.motiv_layer .contents_box{margin:0 !important;padding:0 !important;border:none !important;}
.motiv_layer .contents_box .sect_tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .contents_box .sect_tit + .sect{margin-top: 10px;}
.motiv_layer .contents_box .sect{margin-top: 20px;}
.motiv_layer .contents_box .sect + .sect_tit{margin-top: 20px;}
.motiv_layer .contents_box .sect .contents_box .motiv_paging{display: none;}
.motiv_layer .contents_box .sect .contents_box .panel_body.paging .motiv_paging{display: flex;}

.motiv_layer .contents_box .sect_tit.d_flex{align-items: flex-end;gap: 10px;}
.motiv_layer .contents_box .sect_tit .sub_tit{display: flex;align-items: center;gap: 15px;font-size: var(--fts12);font-weight: var(--ftw700);color: var(--color19);}
.motiv_layer .contents_box .sect_tit .sub_tit span{font-weight: var(--ftw400);}

.motiv_layer .motiv_tbl_box .tbl_title{font-weight:var(--ftw500);color: var(--color19);}
.motiv_layer .motiv_tbl_box .tbl_title .tit strong{font-weight:var(--ftw700);color: #000;margin-right: 3px;}
.motiv_layer .motiv_tbl_box .tbl_item{margin-top: 20px;}
.motiv_layer .motiv_tbl_box .tbl_item:first-child{margin-top: 0;}
.motiv_layer .motiv_tbl_box.name_k .motiv_normal_tbl tbody tr th{background: var(--search_box_bg);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr{background: #fff;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr th{font-size: var(--fts12);font-weight: var(--ftw500);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr th,
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td{padding: 6px 10px 7px;font-size: var(--fts12); vertical-align: middle;border: var(--cont_border);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl thead tr th{background: var(--search_box_bg);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_c{text-align: center;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_l{text-align: left;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_r{text-align: right;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl .jc_sb{justify-content: space-between;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl .a_c{align-items: center;}

.motiv_layer .motiv_tbl.normal .tbl_head .row_item,
.motiv_layer .motiv_tbl.normal .tbl_body .row_item{max-width:100%;flex-wrap: nowrap;}
.motiv_layer .tbl_wrap.cus_height{max-height: 150px;overflow-y: auto;padding: 10px;border: var(--box_border);border-top: 0;}

.motiv_layer .txtarea_box{position: relative;line-height: 0;}
.motiv_layer .txtarea_box textarea{resize: none;width: 100%;height: 100%;min-height: 230px;padding: 15px 15px 45px;outline: none;font-size: var(--fts12);color: #000;}
.motiv_layer .txtarea_box .file_box{position: absolute;bottom: 15px;left: 15px;}
.motiv_layer .bot_btn_wrap{margin-top: 35px;display: flex;justify-content: center;align-items: center;gap: 10px;}
.motiv_layer .sect > .file_box{padding: 15px;border: var(--cont_border);}

.motiv_layer .flex_wrap{display: flex;align-items: stretch;gap: 20px;margin-top: 20px;}
.motiv_layer .flex_wrap.prd_dtl .left{width: calc(33.33% - 20px);}
.motiv_layer .flex_wrap .left.img_area{display: flex;flex-direction: column;}
.motiv_layer .flex_wrap .left.img_area .sect{display: flex;flex:1;}
.motiv_layer .flex_wrap.prd_dtl .right{width: calc(100% - 33.33%);}
.motiv_layer .dtl_img{border: var(--cont_border);width:100%;height: 100%;}

.motiv_layer .tab_area{}
.motiv_layer .tab_area .tab_box{display: flex;align-items: stretch;border: 1px solid var(--color9);text-align: center;}
.motiv_layer .tab_area .tab_box .tab_item{width: 33.33%;padding:10px 0;border-left: 1px solid var(--color9);font-size: var(--fts14);font-weight: var(--ftw500);color: var(--color13);background: var(--color21);cursor: pointer;display: flex;justify-content: center;align-items: center;gap: 5px;}
.motiv_layer .tab_area .tab_box .tab_item:first-child{border-left: 0;}
.motiv_layer .tab_area .tab_box .tab_item.active{color: #fff;background: var(--color5);}
.motiv_layer .tab_area .tab_box .tab_item .new_sta{display: flex;align-items: center;gap:2px;}
.motiv_layer .tab_area .tab_box .tab_item .new_sta:before{content: 'N';display: inline-block;font-size: 10px;line-height: 14px;color:#fff;background: var(--color1);padding: 0 3px;}

.motiv_layer .sub_tab_area{}
.motiv_layer .sub_tab_area .sub_tab_box{display: flex;align-items: center;gap:8px;text-align: center;}
.motiv_layer .sub_tab_area .sub_tab_box .sub_tab_item{padding:0 15px;font-size: var(--fts13);font-weight: var(--ftw500);line-height:28px;color: var(--color13);background: var(--color21);cursor: pointer;display: flex;justify-content: center;align-items: center;gap:3px;border: var(--cont_border);}
.motiv_layer .sub_tab_area .sub_tab_box .sub_tab_item.active{color: #fff;background: var(--color5);border-color: var(--color5);}

.motiv_layer .flex_wrap.seller_info{gap: 25px;align-items: flex-end;}
.motiv_layer .flex_wrap.seller_info .left{width: 140px;}
.motiv_layer .flex_wrap.seller_info .right{width: calc(100% - 140px);}
.motiv_layer .seller_info .seller_dtl{display: flex;flex-direction: column;gap: 7px;}
.motiv_layer .seller_info .dtl_info{border: var(--cont_border);padding: 30px 14px;text-align: center}
.motiv_layer .seller_info .dtl_info .info_name{font-size: var(--fts12);font-weight: var(--ftw500);color: #000;}
.motiv_layer .seller_info .dtl_info .btn{margin-top: 5px;font-size: var(--fts12);font-weight: var(--ftw500);}
.motiv_layer .seller_info .info_feed .btn{width: 100%;text-align: center;}

.motiv_layer .inp_row{display: flex;align-items: flex-end;gap: 10px;width: 100%;flex-wrap: nowrap;}
.motiv_layer .inp_row + .inp_row{margin-top: 20px;}
.motiv_layer .inp_row .inp_tit{margin-bottom: 5px;font-size: var(--fts13);font-weight: var(--ftw500);}
.motiv_layer .inp_row.row-3 .inp_wrap{width: 33.33%;}
.motiv_layer .inp_wrap input[type="text"]{border: var(--box_border);padding: 5px 10px;font-size: var(--fts13);font-weight: 500;line-height: 18px;}
.motiv_layer .inp_wrap input[type="text"].ta_r{text-align: right;}

.motiv_layer .sect.bd_top{margin-top: 30px;padding-top: 15px;border-top: var(--box_border);}
.motiv_layer .flex_wrap.prd_dtl_img{display: flex;gap: 40px;}
.motiv_layer .flex_wrap.prd_dtl_img .left{width: 75px;}
.motiv_layer .flex_wrap.prd_dtl_img .right{width: calc(100% - 115px);}
.motiv_layer .flex_wrap.prd_dtl_img .cont_tit{font-size: var(--fts12);font-weight: var(--ftw500);margin-bottom: 10px;}
.motiv_layer .flex_wrap.prd_dtl_img .cont_img{width: 100%;}
.motiv_layer .flex_wrap.prd_dtl_img .cont_img img{width: 100%;}
.motiv_layer .flex_wrap.prd_dtl_img .swiper-slide{width: 75px;height: 75px;line-height: 0;}
.motiv_layer .flex_wrap.prd_dtl_img .swiper-slide img{width: 100%;}

.motiv_layer .flex_wrap.prd_calc{align-items: flex-end;gap: 10px;}
.motiv_layer .flex_wrap.prd_calc .left{flex: 1;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap{gap: 10px;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap .btn{border-radius: 0;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap .btn.active{color: #fff;background: var(--color1);border-color: var(--color1);}

.motiv_layer .flex_wrap.state_info{gap: 0;}
.motiv_layer .flex_wrap.state_info > div{border: var(--box_border);}
.motiv_layer .flex_wrap.state_info .left{width: 240px;border-right: 0;}
.motiv_layer .flex_wrap.state_info .right{width: calc(100% - 240px);}

.motiv_layer .tab_cont .sect .txtarea_box textarea{min-height: 130px;padding: 10px;}
.motiv_layer .tab_cont .cont_box .cont_tit{padding:10px;background: var(--color21);}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box{display: flex;justify-content: space-between;}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box .tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box .date{font-size: var(--fts12);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .cont_box .cont_tit .sub_tit{margin-top: 11px;font-size: var(--fts14);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .right .cont_box .cont_item{padding: 20px 15px;}
.motiv_layer .tab_cont .cont_box .cont_item{border-top: var(--box_border);}
.motiv_layer .tab_cont .cont_box .cont_item .list_item{padding: 5px 10px;display: flex;justify-content: space-between;align-items: center;border-bottom: var(--box_border);cursor: pointer;}
.motiv_layer .tab_cont .cont_box .cont_item .list_item .tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .tab_cont .cont_box .cont_item .list_item .date{font-size: var(--fts12);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .question_txt{min-height: 100px;}

.motiv_layer .motiv_normal_tbl.prd_calc .prd_code{display: flex;align-items: center;gap: 8px;}
.motiv_layer .motiv_normal_tbl.prd_calc .prd_code .code_item{color: var(--color13);font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .chart_box{border: var(--box_border);padding: 20px;min-height: 100px;}

