@charset "utf-8";

.body_noscroll{height:100%;overflow:hidden}
.txt_line-thru{text-decoration: line-through;}
/* .txt_line-thru:after{content: '';display: block;width: 100%;height: 1px;position: absolute;left:0;top:50%;transform: translateY(-50%);} */

.motiv_layer .btn_sm{padding:0 10px;font-size: var(--fts12);}
.motiv_layer .bold{font-weight: var(--ftw700);}
.motiv_layer .txt_success{color: var(--color3);}
.motiv_layer .txt_fail{color: var(--color1);}
.mgt_20{margin-top: 20px !important;}

.delete_btn{width:15px;height: 15px;position: relative;cursor: pointer;}
.delete_btn:before,
.delete_btn:after {position: absolute;left: 50%;content:' ';width: 2px;height: 100%;background-color: var(--color1);}
.delete_btn:before {transform:translateX(-50%) rotate(45deg);}
.delete_btn:after {transform:translateX(-50%) rotate(-45deg);}

.btn_wrap.jc_c{justify-content: center;}
.btn_wrap.jc_fe{justify-content: flex-end;}

/* select_custom S */
.select_wrap.size_sm{width: 100px !important;}
.select_wrap.size_md{width: 150px !important;}
.select_wrap.size_lg{width:210px}
.inp_wrap.size_md{width: 150px;}
.inp_wrap.size_lg{width:210px}
.lock_tbl .hd_item .inp_wrap{padding: 5px 0 !important;}
.lock_tbl .hd_item .inp_wrap input[type="text"]{height: 30px;line-height: 28px;}

.motiv_layer .select_wrap select{display:none}
.motiv_layer .select_wrap .select_box{min-width:90px;width:100%;padding:9px 10px;background:#fff;border: var(--cont_border);position: relative;border-radius:5px;}
.motiv_layer .select_wrap .select_box .select_name{width:100%;font-size: var(--fts13);font-weight: var(--ftw500);line-height: 20px;position: relative;cursor: pointer;}
.motiv_layer .select_wrap .select_box .select_name:after{content:'';display: block;width: 12px;height: 12px;background: url('../images/common/arrow_select_down.svg')no-repeat center center;background-size: cover;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.motiv_layer .select_wrap .select_box.active .select_name:after{background: url('../images/common/arrow_select_up.svg')no-repeat center center;background-size: cover;}
.motiv_layer .select_wrap .select_box .opt_list{display: none;width:calc(100% + 2px);padding:0;position: absolute;left: -1px;top: 100%;z-index: 5;background: #fff;border: var(--cont_border);}
.motiv_layer .select_wrap .select_box.active .opt_list{display: block;cursor: pointer;}
.motiv_layer .select_wrap .select_box .opt_list .opt_item{padding:5px 10px;display:block;display:-webkit-box;overflow:hidden;max-height:30px;text-overflow:ellipsis;-webkit-line-clamp:1;-webkit-box-orient:vertical}
.motiv_layer .select_wrap .select_box .opt_list .opt_item:hover{background-color:var(--color15)}
/* select_custom E */


.motiv_layer .cont_group{justify-content: space-between;align-items: center;}
.motiv_layer .cont_group .panel_count{display: flex;gap:5px;font-size:var(--fts14);font-weight:var(--ftw500);color: #595959;}
.motiv_layer .cont_group .panel_count .slash{color: #000;font-weight: var(--ftw700);}
.motiv_layer .cont_group .panel_count .count_sta{margin-left:3px;font-weight:var(--ftw700);}
.motiv_layer .cont_group .all_count .count_sta{color: #000;}
.motiv_layer .cont_group .srh_count .count_sta{color:var(--color3);}

.motiv_layer .inp_wrap input[type="text"]{border: var(--cont_border);}
.motiv_layer .contents_box .srh_box{padding:0;margin:-25px -20px 0;background: var(--search_box_bg);}
.motiv_layer .contents_box .srh_box .srh_item{padding:15px 20px;border-top:var(--cont_border);display: flex;}
.motiv_layer .contents_box .srh_box .srh_item:first-child{border-top: 0;}
.motiv_layer .contents_box .srh_box .srh_item.row-2 .srh_item_inner{width: 50%;}
.motiv_layer .contents_box .srh_box .srh_item.row-2 .srh_item_inner + .srh_item_inner{margin-left:0;}
.motiv_layer .contents_box .srh_box .srh_item.row-2 .srh_item_inner:last-child{padding-left: 25px;}

.motiv_layer .contents_box .srh_box .srh_item .srh_item_inner{display: flex;align-items:center;padding-left: 25px;}
.motiv_layer .contents_box .srh_box .srh_item .srh_item_inner + .srh_item_inner{margin-left:25px;position:relative}
.motiv_layer .contents_box .srh_box .srh_item .srh_item_inner + .srh_item_inner:after{content:'';display:block;clear:both;width:1px;height:24px;background-color:var(--color12);position:absolute;top:50%;left:0;margin-top:-12px;}

.motiv_layer .contents_box .srh_box .srh_item .srh_item_inner:first-child{padding-left: 5px;}
.motiv_layer .contents_box .srh_box .srh_item .srh_title{min-width: 100px;font-size: 14px;font-weight:700;line-height: 20px;}
.motiv_layer .contents_box .srh_box .srh_item .srh_cont{display: flex;align-items:center;gap: 14px;color:var(--color14)}
.motiv_layer .contents_box .srh_btn_box{padding: 20px 0;margin:0 -20px;text-align: center;background: #fff;border-top: var(--cont_border);border-bottom: var(--cont_border);}
.motiv_layer .contents_box .srh_btn_box .btn_wrap{display: flex; justify-content: center;align-items: center;gap: 14px;}
.motiv_layer .contents_box .srh_btn_box .btn_wrap .btn{width:130px;}
.motiv_layer .contents_box .srh_box .inp_wrap{max-width: 210px;}
.motiv_layer .contents_box .srh_box .inp_wrap input[type="text"]{padding:5px 10px;font-size:14px;font-weight: 500;line-height: 18px;}
.motiv_layer .contents_box .srh_box .date_wrap{display: flex;align-items: center;gap: 10px;}
.motiv_layer .contents_box .srh_box .date_wrap .tilde{font-size: var(--fts14);}

/* normal tbl */
.motiv_tbl.normal.calc_tbl .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 80px;}
.motiv_tbl.normal.calc_tbl .tbl_inner .hd_item:first-child + .hd_item{flex:2;}
.motiv_tbl.normal.sales_calc_info .tbl_inner .hd_item:first-child{flex-basis: 90px;}
.motiv_tbl.normal.sales_calc_info .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item + .hd_item{flex-basis:140px;}

/* 레이어 팝업 */
.motiv_layer{background: #fff;}
.motiv_layer.slider_img{background-color:transparent}
.motiv_layer.type1 .layer_head{height:45px;padding:0 20px;display:flex;justify-content:center;align-items:center;background: var(--color5);position: relative;}
.motiv_layer.type1 .layer_head .title{font-size:var(--fts15);font-weight:var(--ftw700);color: #fff;}
.motiv_layer.type1 .layer_head .btn_close{width: 12px;height: 12px;padding:5px;position: absolute;top:50%;right: 15px;background: url('../images/common/icon_pop_close.svg')no-repeat center center;background-size:12px;transform: translateY(-50%);box-sizing:content-box;cursor: pointer;}

/* 공용 레이어 개발중 일부 충돌 
.motiv_layer.type2{position: relative;}
*/
.motiv_layer.type2 .layer_head{position:relative;}
.motiv_layer.type2 .layer_head .btn_close{width: 40px;height: 40px;position: absolute;left: 50%;top: -20px;transform: translateX(-50%);background: rgba(0, 0, 0, .5) url('../images/common/icon_pop_close.svg')no-repeat center center;background-size:12px;cursor: pointer;border-radius: 100%;}
.motiv_layer.type2 .layer_body{padding: 35px 20px 45px;}

.motiv_layer .layer_body{padding:25px 20px 30px;}
.motiv_layer .contents_box{margin:0 !important;padding:0 !important;border:none !important;}
.motiv_layer .contents_box .sect_tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .contents_box .sect_tit + .sect{margin-top: 10px;}
.motiv_layer .contents_box .sect{margin-top: 20px;}
.motiv_layer .contents_box .sect.mgt30{margin-top: 30px;}
.motiv_layer .contents_box .sect + .sect_tit{margin-top: 20px;}
/* .motiv_layer .contents_box .sect .contents_box .motiv_paging{display: none;} */
.motiv_layer .contents_box .sect .contents_box .panel_body.paging .motiv_paging{display: flex;}

.motiv_layer .contents_box .sect_tit .imp{color: var(--color1);}
.motiv_layer .contents_box .sect_tit.d_flex{align-items: flex-end;gap: 10px;}
.motiv_layer .contents_box .sect_tit .sub_tit{display: flex;align-items: center;gap: 15px;font-size: var(--fts12);font-weight: var(--ftw700);color: var(--color19);}
.motiv_layer .contents_box .sect_tit .sub_tit span{font-weight: var(--ftw400);}

.motiv_layer .motiv_tbl_box .tbl_title{font-weight:var(--ftw500);color: var(--color19);}
.motiv_layer .motiv_tbl_box .tbl_title .tit strong{font-weight:var(--ftw700);color: #000;margin-right: 3px;}
.motiv_layer .motiv_tbl_box .tbl_item{margin-top: 20px;}
.motiv_layer .motiv_tbl_box .tbl_item + .tbl_item.bdt_0 .motiv_normal_tbl tbody tr:first-child th,
.motiv_layer .motiv_tbl_box .tbl_item + .tbl_item.bdt_0 .motiv_normal_tbl tbody tr:first-child td{border-top: 0;}
.motiv_layer .motiv_tbl_box .tbl_item:first-child{margin-top: 0;}
.motiv_layer .motiv_tbl_box.name_k .motiv_normal_tbl tbody tr th{background: var(--search_box_bg);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr{background: #fff;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr th{font-size: var(--fts12);font-weight: var(--ftw500);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr th,
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td{padding: 6px 10px 7px;font-size: var(--fts12); vertical-align: middle;border: var(--cont_border);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td .more_info{text-decoration: underline;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td .more_info > .data_sta{color: var(--color3);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl thead tr th{background: var(--search_box_bg);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_c{text-align: center;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_l{text-align: left;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr td.ta_r{text-align: right;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl .jc_sb{justify-content: space-between;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl .a_c{align-items: center;}

.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl + tr th,
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl + tr td{border-top: none;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl td{border-bottom: none;}

.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active + tr th,
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active + tr td{border-top: var(--cont_border);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active td{border-bottom: var(--cont_border);border-right:none}

.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active .hd_item{}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active .hd_item:first-child{border-left:none}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl tr.dtl_tbl.active .tbl_inner{border-left: var(--cont_border);border-right: var(--cont_border);border-bottom: var(--cont_border);}

.motiv_layer .motiv_tbl_box tr.dtl_tbl td{padding: 0;}
.motiv_layer .motiv_tbl_box tr.dtl_tbl .tbl_wrap{padding: 0;transition: .3s;height: 0;overflow: hidden;}
.motiv_layer .motiv_tbl_box tr.dtl_tbl .tbl_wrap .motiv_tbl{padding: 10px;}

.motiv_layer .motiv_tbl_box tr.dtl_tbl.acc_tblList .tbl_wrap .tbl_head .hd_item{background: var(--color8);color: #fff;}
.motiv_layer .motiv_tbl_box tr td.half_item .d_flex{align-items: center;text-align: center;}
.motiv_layer .motiv_tbl_box tr td.half_item .d_flex span{flex: 1;}
.motiv_layer .motiv_tbl_box tr td.half_item .d_flex span:first-child{border-right: var(--cont_border);}

.motiv_layer .motiv_tbl.normal .tbl_head .row_item,
.motiv_layer .motiv_tbl.normal .tbl_body .row_item{max-width:100%;flex-wrap: nowrap;}
.motiv_layer .tbl_wrap.cus_height{max-height: 150px;overflow-y: auto;padding: 10px;border: var(--box_border);border-top: 0;}

.motiv_layer .txtarea_box{position: relative;line-height: 0;}
.motiv_layer .txtarea_box textarea{resize: none;width: 100%;height: 100%;min-height: 230px;padding: 15px 15px 45px;outline: none;font-size: var(--fts12);color: #000;}
.motiv_layer .txtarea_box .file_box{position: absolute;bottom: 15px;left: 15px;}
.motiv_layer .txtarea_box .filebox{position: absolute;bottom: 15px;left: 15px;}

.motiv_layer .txtarea_box2{position: relative;line-height: 0;padding:20px}
.motiv_layer .txtarea_box2 textarea{resize: none;width: 100%;height: 100%;min-height: 130px;padding:10px;outline: none;font-size: var(--fts12);color: #000;}
.motiv_layer .txtarea_box2 .file_box{position: absolute;bottom: 15px;left: 15px;}
.motiv_layer .txtarea_box2 .filebox{position: absolute;bottom: 15px;left: 15px;}

.motiv_layer .bot_btn_wrap{margin-top: 35px;display: flex;justify-content: center;align-items: center;gap: 10px;}
/* .motiv_layer .bot_btn_wrap .btn{width: 15%;text-align: center;} */
.motiv_layer .sect > .file_box{padding: 15px;border: var(--cont_border);}
.motiv_layer .sect > .filebox{padding: 15px;border: var(--cont_border);}

.motiv_layer .flex_wrap{display: flex;align-items: stretch;gap: 20px;margin-top: 20px;}
.motiv_layer .flex_wrap.prd_dtl .left{width: calc(33.33% - 20px);}
.motiv_layer .flex_wrap .left.img_area{display: flex;flex-direction: column;}
.motiv_layer .flex_wrap .left.img_area .sect{display: flex;flex:1;}
.motiv_layer .flex_wrap.prd_dtl .right{width: calc(100% - 33.33%);}

.motiv_layer .dtl_img{border: var(--cont_border);width:100%;height: 100%;padding:25px 20px 50px;position: relative;}
.motiv_layer .dtl_img .dtlImgSlide{width: 80%;}
.motiv_layer .dtl_img .dtlImgSlide .slide_list{}
.motiv_layer .dtl_img .dtlImgSlide .slide_item{display: flex;justify-content: center;align-items: center;}
.motiv_layer .dtl_img .dtlImgSlide .slide_item .img_box{width: 100%;}
.motiv_layer .dtl_img .dtlImgSlide .slide_item .img_box img{width: 100%;}
.motiv_layer .dtl_img .btn_img{position: absolute;top: 50%;transform: translateY(-50%);width:12px;height:22px;padding:5px 10px;background-size: cover;background-repeat: no-repeat;background-position: center;box-sizing: content-box;cursor: pointer;}
.motiv_layer .dtl_img .btn_img.next{right: 3%;background-image: url('../images/common/slide_next.svg');}
.motiv_layer .dtl_img .btn_img.prev{left: 3%;background-image: url('../images/common/slide_prev.svg');}
.motiv_layer .dtl_img .pagination{bottom: 20px;}

.motiv_layer .tab_area{}
.motiv_layer .tab_area .tab_box{margin:0;display: flex;align-items: stretch;border: 1px solid var(--color9);text-align: center;}
.motiv_layer .tab_area .tab_box .tab_item{width: 33.33%;padding:10px 0;border-left: 1px solid var(--color9);font-size: var(--fts14);font-weight: var(--ftw500);color: var(--color13);background: var(--color21);cursor: pointer;display: flex;justify-content: center;align-items: center;gap: 5px;}
.motiv_layer .tab_area .tab_box.row-2 .tab_item{width: 50%;}
.motiv_layer .tab_area .tab_box .tab_item:first-child{border-left: 0;}
.motiv_layer .tab_area .tab_box .tab_item.active{color: #fff;background: var(--color5);}
.motiv_layer .tab_area .tab_box .tab_item .new_sta{display: flex;align-items: center;gap:2px;}
.motiv_layer .tab_area .tab_box .tab_item .new_sta:before{content: 'N';display: inline-block;font-size: 10px;line-height: 14px;color:#fff;background: var(--color1);padding: 0 3px;}
.motiv_layer .tab_area .tab_cont{display:none}
.motiv_layer .tab_area .tab_cont.active{display:block}

.motiv_layer .sub_tab_area{}
.motiv_layer .sub_tab_area .sub_tab_box{display: flex;align-items: center;gap:8px;text-align: center;}
.motiv_layer .sub_tab_area .sub_tab_box .sub_tab_item{padding:0 15px;font-size: var(--fts13);font-weight: var(--ftw500);line-height:28px;color: var(--color13);background: var(--color21);cursor: pointer;display: flex;justify-content: center;align-items: center;gap:3px;border: var(--cont_border);}
.motiv_layer .sub_tab_area .sub_tab_box .sub_tab_item.active{color: #fff;background: var(--color5);border-color: var(--color5);}

.motiv_layer .flex_wrap.seller_info{gap: 25px;align-items: flex-end;}
.motiv_layer .flex_wrap.seller_info .left{width: 140px;}
.motiv_layer .flex_wrap.seller_info .right{width: calc(100% - 140px);}
.motiv_layer .seller_info .seller_dtl{display: flex;flex-direction: column;gap: 7px;}

.motiv_layer .flex_wrap.seller_info.type2{align-items: stretch;gap: 15px;}
.motiv_layer .flex_wrap.seller_info.type2 .left{padding-top:25px;}
.motiv_layer .flex_wrap.seller_info.type2 .left .select_box{border-radius: 5px;}
.motiv_layer .seller_info.type2 .seller_dtl{height:100%;justify-content: space-between;}

.motiv_layer .flex_wrap.seller_info.type2 .row-1-2.type2{}
.motiv_layer .flex_wrap.seller_info.type2 .row-1-2.type2 .inp_wrap:last-child{width: 66.66%;}
.motiv_layer .flex_wrap.seller_info .row-1-2.type2 .inp_wrap:last-child{width: 66.66%;}

.motiv_layer .seller_info .dtl_info{border: var(--cont_border);padding: 30px 14px;text-align: center}
.motiv_layer .seller_info .dtl_info .info_name{font-size: var(--fts12);font-weight: var(--ftw500);color: #000;}
.motiv_layer .seller_info .dtl_info .btn{margin-top: 5px;font-size: var(--fts12);font-weight: var(--ftw500);}
.motiv_layer .seller_info .info_feed .btn{width: 100%;text-align: center;}

.motiv_layer .inp_row{display: flex;align-items: flex-end;gap: 10px;width: 100%;flex-wrap: nowrap;}
.motiv_layer .inp_row + .inp_row{margin-top: 20px;}
.motiv_layer .inp_row .inp_tit{margin-bottom: 5px;font-size: var(--fts13);font-weight: var(--ftw500);line-height:20px;}
.motiv_layer .inp_row.row-2 > div{width: 50%;}
.motiv_layer .inp_row.row-3 .inp_wrap{width: 33.33%;}
.motiv_layer .inp_row.row-1-2 > .inp_wrap:first-child{width: calc(33.33% - 5px);}
.motiv_layer .inp_row.row-1-2 #sandbox_container{width: 66.66%;max-width:66.66%;display: flex;align-items: flex-end;flex-wrap: nowrap;gap: 10px;}
.motiv_layer .inp_row.row-1-2 #sandbox_container .inp_wrap{width: 50%;}
.motiv_layer .inp_row.row-1-2 #sandbox_container .inp_wrap input{text-align: left;border-radius: 5px;}
.motiv_layer .inp_row.row-2-1 #sandbox_container{width: calc(66.66% - 5px);max-width:calc(66.66% - 5px);display: flex;align-items: flex-end;flex-wrap: nowrap;gap: 10px;}
.motiv_layer .inp_row.row-2-1 #sandbox_container .inp_wrap{width: 50%;}
.motiv_layer .inp_row.row-2-1 #sandbox_container .inp_wrap input{text-align: left;}
.motiv_layer .inp_wrap input[type="text"]{border: var(--box_border);padding: 5px 10px;font-size: var(--fts13);font-weight: 500;line-height: 18px;}
.motiv_layer .inp_wrap input[type="text"].ta_r{text-align: right;}
.motiv_layer .inp_wrap.type_flex{width:100% !important;display: flex;align-items: center;gap: 8px;}
.motiv_layer .inp_wrap.type_flex > div{flex: 1;width: 100% !important;}

.motiv_layer .sect.bd_top{margin-top: 30px;padding-top: 15px;border-top: var(--box_border);}
.motiv_layer .flex_wrap.prd_dtl_img{display: flex;gap: 40px;}
.motiv_layer .flex_wrap.prd_dtl_img .left{width: 75px;}
.motiv_layer .flex_wrap.prd_dtl_img .right{width: calc(100% - 115px);}
.motiv_layer .flex_wrap.prd_dtl_img .cont_tit{font-size: var(--fts12);font-weight: var(--ftw500);margin-bottom: 10px;}
.motiv_layer .flex_wrap.prd_dtl_img .cont_img{width: 100%;}
.motiv_layer .flex_wrap.prd_dtl_img .cont_img img{width: 100%;}
.motiv_layer .flex_wrap.prd_dtl_img .swiper-slide{width: 75px;height: 75px;line-height: 0;}
.motiv_layer .flex_wrap.prd_dtl_img .swiper-slide img{width: 100%;}

.motiv_layer .flex_wrap.prd_calc{align-items: flex-end;gap: 10px;}
.motiv_layer .flex_wrap.prd_calc .left{flex: 1;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap{gap: 10px;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap .btn{border-radius: 0;}
.motiv_layer .flex_wrap.prd_calc .btn_wrap .btn.active{color: #fff;background: var(--color1);border-color: var(--color1);}

.motiv_layer .flex_wrap.state_info{gap: 0;}
.motiv_layer .flex_wrap.state_info > div{border: var(--box_border);}
.motiv_layer .flex_wrap.state_info .left{width: 240px;border-right: 0;}
.motiv_layer .flex_wrap.state_info .right{width: calc(100% - 240px);}

.motiv_layer .tab_cont .sect .txtarea_box textarea{min-height: 130px;padding: 10px;}
.motiv_layer .tab_cont .cont_box .cont_tit{padding:10px;background: var(--color21);}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box{display: flex;justify-content: space-between;}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box .tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .tab_cont .cont_box .cont_tit .tit_box .date{font-size: var(--fts12);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .cont_box .cont_tit .sub_tit{margin-top: 11px;font-size: var(--fts14);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .right .cont_box .cont_item{padding: 20px 15px;}
.motiv_layer .tab_cont .cont_box .cont_item{border-top: var(--box_border);}
.motiv_layer .tab_cont .cont_box .cont_item .list_item{padding: 5px 10px;display: flex;justify-content: space-between;align-items: center;border-bottom: var(--box_border);cursor: pointer;}
.motiv_layer .tab_cont .cont_box .cont_item .list_item .tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .tab_cont .cont_box .cont_item .list_item .date{font-size: var(--fts12);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .tab_cont .question_txt{min-height: 100px;}

.motiv_layer .motiv_normal_tbl.prd_calc .prd_code{display: flex;align-items: center;gap: 8px;}
.motiv_layer .motiv_normal_tbl.prd_calc .prd_code .code_item{color: var(--color13);font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .chart_box{border: var(--box_border);padding: 20px;min-height: 100px;}

.motiv_layer .txt_list_tit{color: var(--color14);margin-bottom: 5px;}
.motiv_layer .txt_list .row_item{display: flex;align-items: center;gap: 3px;}
.motiv_layer .txt_list .row_item + .row_item{margin-top: 5px;}
.motiv_layer .txt_list .select_wrap{min-width:150px}
.motiv_layer .txt_list .select_wrap .select_box{padding:2px 10px;}
.motiv_layer .txt_list .select_wrap .select_box .select_name{font-size: var(--fts12);line-height:17px;color: var(--color13);}

.textarea_flex_start{align-items: flex-start!important}
.textarea_flex_start .tit{min-width:60px}
.textarea_flex_start .cont{width:90%}

.motiv_layer .btn_upfile{display: flex;align-items: center;gap: 5px;cursor: pointer;}
.motiv_layer .icon_attach{display:inline-block;width: 22px;height: 22px;background: url('../images/common/icon_file.svg')no-repeat center center;background-size: 13px;border: var(--box_border);border-radius: 3px;}

.motiv_layer .service_info .info_title{font-size: var(--fts12);}
.motiv_layer .service_info .info_cont{margin-top: 3px;padding-left: 5px;}
.motiv_layer .service_info .info_cont p{font-size: var(--fts12);}
.motiv_layer .service_info .info_cont p + p{margin-top: 3px;}

.motiv_layer .log_detail{margin-top: 30px;padding-top: 20px;border-top: var(--box_border);}
.motiv_layer .log_detail .txt_list_tit{font-size: var(--fts14);font-weight: var(--ftw500);color: var(--color7);margin-bottom: 10px;}

.motiv_layer .top_info_box{padding: 40px 20px 30px;background: var(--color21);}
.motiv_layer .top_info_box.dash p{padding-left: 8px;position: relative;}
.motiv_layer .top_info_box.dash p:before{content: '-';display: inline-block;position: absolute;left: 0;}
.motiv_layer .top_info_box p{font-size: var(--fts12);font-weight: var(--ftw500);}
.motiv_layer .top_info_box p.imp{color: var(--color3);}
.motiv_layer .top_info_box.lp_type{margin-top: 20px;align-items: flex-start;padding: 30px;}

.motiv_layer .row_line{}
.motiv_layer .row_line + .row_line{margin-top: 30px;}
.motiv_layer .row_line.row-2{display: flex;align-items: flex-end;gap: 10px;}
.motiv_layer .row_line.row-2 .line_item{width: 50%;}
.motiv_layer .row_line.row-4{display: flex;align-items: flex-end;gap: 10px;}
.motiv_layer .row_line.row-4 .line_item{width: 25%;}

.motiv_layer .row_line .line_item{width: 100%;}
.motiv_layer .row_line .line_item .inp_tit{margin-bottom: 10px;font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .row_line .line_item .inp_tit.required{display: flex;align-items: center;}
.motiv_layer .row_line .line_item .inp_tit.required:after{content: '';display: inline-block;margin-left: 5px;width: 8px;height: 8px;border-radius: 100%;background: var(--color1);}
.motiv_layer .row_line .line_item textarea{min-height: 100px;}

.motiv_layer .notice_info p{font-size:var(--fts12);font-weight:var(--ftw500);color: var(--color1);}

.motiv_layer .row_line.addr{display: flex;align-items: flex-end;gap: 10px;}
.motiv_layer .row_line.addr .line_item.addr_post{width:45%;}
.motiv_layer .row_line.addr .line_item.addr_dtl{}

.motiv_layer .motiv_normal_tbl .addr_item{display: flex;align-items: center;gap: 10px;}
.motiv_layer .motiv_normal_tbl .addr_item .inp_wrap{flex: 1;}
.motiv_layer .motiv_normal_tbl tr td .sub_info{margin-top: 10px;}

.motiv_layer .flex_wrap.manager_info{}
.motiv_layer .flex_wrap.manager_info .left{width: 35%;}
.motiv_layer .flex_wrap.manager_info .right{width: 65%;}

.motiv_layer .flex_wrap.manager_info .author_box{border: var(--box_border)}
.motiv_layer .flex_wrap.manager_info .author_box .top{padding: 20px;}
.motiv_layer .flex_wrap.manager_info .author_box .bottom{padding: 20px;background: var(--search_box_bg);border-top: var(--box_border);}
.motiv_layer .flex_wrap.manager_info .author_box .bottom .row_line.row_all{display: flex;gap: 20px;}
.motiv_layer .flex_wrap.manager_info .top .row_line .checkbox_inp label{width: 25%;}

.motiv_layer .motiv_tbl.normal.fees_tbl .hd_item > div{padding: 5px 10px;}
.motiv_layer .motiv_tbl.normal.fees_tbl .hd_item .inp_wrap{padding: 0;}

.motiv_layer .srh_item .srh_cont .select_wrap.size_l{width: 210px;}

.motiv_layer .motiv_tbl_box .tbl_item.price_total .motiv_normal_tbl tr th{font-size: 16px;font-weight:700;background: var(--search_box_bg);}
.motiv_layer .motiv_tbl_box .tbl_item.price_total .motiv_normal_tbl tr td{font-size: 16px;}
.motiv_layer .motiv_tbl_box .tbl_item.price_total .motiv_normal_tbl tr td .sta{margin-right:3px;font-weight: 700;}
.motiv_layer .motiv_tbl_box .tbl_item.price_total .motiv_normal_tbl tr th,
.motiv_layer .motiv_tbl_box .tbl_item.price_total .motiv_normal_tbl tr td{padding:12px 15px 14px;line-height: 24px;}

.motiv_layer .top_info_box{padding:30px 0;display: flex;flex-direction: column;gap: 3px;justify-content: center;align-items:center;border: var(--box_border);}
.motiv_layer .top_info_box .info_tit{font-size: var(--fts16);font-weight: var(--ftw700);}
.motiv_layer .top_info_box .info_cont{font-size: var(--fts12);font-weight: var(--ftw500);color:var(--color13);}
.motiv_layer .top_info_box .info_cont .price_sta{font-size: var(--fts20);font-weight: var(--ftw700);color:var(--color2);}

.motiv_layer .sect .filter_cont{display: flex;justify-content: space-between;align-items: center;}
.motiv_layer .sect .filter_cont .select_wrap{width: 300px;}

.cate_set_box{display: flex;justify-content: center;align-items: stretch;}
.cate_set_box .line_item{flex: 1;border-left: var(--box_border);}
.cate_set_box .line_item:first-child{border-left: 0;}
.cate_set_box .line_item .checkbox_inp{justify-content: center;flex-direction: column;gap: 20px;}

.cate_drag_list{margin-top:50px;display: flex;align-items: center;flex-wrap: wrap;}
.cate_drag_list .drag_item{padding: 5px 20px;margin:0 5px 5px 0;border: var(--cont_border);font-size: var(--fts12);background: var(--color10);cursor:pointer}

.cate_drag_list.full_line .drag_item{width:80%;margin:10px auto;padding:10px}


.motiv_layer .radio_row_box .row_item + .row_item{margin-top: 10px;}
.motiv_layer .txt_info_box.type1 .txt_info + .txt_info{margin-top: 8px;}

.motiv_layer .motiv_normal_tbl tr.more_box{display: none;}
.motiv_layer .motiv_normal_tbl tr.more_box.active{display: table-row;}

.motiv_layer .motiv_normal_tbl tr td .list_box{padding: 20px;}
.motiv_layer .motiv_normal_tbl tr td .list_box .list_item + .list_item{margin-top: 10px;}
.motiv_layer .motiv_normal_tbl tr td .list_box .list_item .tit{font-size: var(--fts14);font-weight: var(--ftw500);}
.motiv_layer .motiv_normal_tbl tr td .list_box .list_item .cont{margin-top:5px;padding-left: 15px;font-size: var(--fts12);}
.motiv_layer .motiv_normal_tbl tr td .list_box .list_item .cont.chk_list > div{padding-left: 12px;position: relative;}
.motiv_layer .motiv_normal_tbl tr td .list_box .list_item .cont.chk_list > div.chk_in::before{content: '';display: block;position: absolute;left: 0;top: 55%;width: 5px;height: 10px;border-width: 0 2px 2px 0;border-style: solid;border-color: var(--color1);transform-origin: top right;transform: rotate(45deg) translateY(-50%);}

.motiv_layer .acc_box{padding: 10px 20px;border: var(--box_border);cursor: pointer;}
.motiv_layer .acc_box .acc_tit{display: flex;justify-content: space-between;align-items: center;}
.motiv_layer .acc_box .acc_tit .tit{}

.motiv_layer .acc_box .acc_cont{display:none;margin-top:20px;transition: height .5s ease;overflow: hidden;}
.motiv_layer .acc_box.open .acc_cont{display: block;}

.motiv_layer .acc_box .accBtn{width: 30px;height: 30px;border: var(--box_border);position: relative;}
.motiv_layer .acc_box .accBtn .icon_arrow{border: solid var(--color5);border-width: 0 2px 2px 0;display: inline-block;padding: 4px 4px 2px 2px;position: absolute;top: 50%;left: 50%;margin-left:-5px;transition: .5s;transform-origin: center;transform: rotate(45deg) translate(-50%,-50%);}
.motiv_layer .acc_box.open .acc_tit .icon_arrow{margin-top:-2px;transform: rotate(-135deg);}

.motiv_layer .prd_list{display: flex;gap: 10px;align-items: stretch;flex-wrap: wrap;}
.motiv_layer .prd_list .prd_item{width: calc(20% - 8px);}
.motiv_layer .prd_list .prd_item .thumb{width: 100%;line-height: 0;}
.motiv_layer .prd_list .prd_item .thumb .img_box{display: block;width: 100%;}
.motiv_layer .prd_list .prd_item .thumb .img_box img{width: 100%;}

.motiv_layer .prd_list .prd_item .info{padding: 10px 5px;}
.motiv_layer .prd_list .prd_item .info > div{color: var(--color14);overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;letter-spacing: normal;word-break: break-word;overflow-wrap: break-word;}

.motiv_layer .upload_box{width:100%;height:240px;overflow: hidden;background: #fff;border: 1px dashed var(--color26);position: relative;cursor: pointer;}
.motiv_layer .upload_box .img_box{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 0;display: flex;flex-direction: column;gap: 20px;justify-content: center;align-items: center;}
.motiv_layer .upload_box .img_box .bg{width: 40px;height: 30px;background: url('../images/common/upload_img.svg')no-repeat center center;background-size: cover;}
.motiv_layer .upload_file_list{margin-top: 10px;}
.motiv_layer .upload_file_list .file_item{display: flex;align-items:center;gap: 3px;}
.motiv_layer .upload_file_list .file_item .file_name{font-size: var(--fts14);font-weight: var(--ftw500);line-height:1;color: var(--color27);}
.motiv_layer .upload_file_list .file_item .close_btn{width: 10px;height: 10px;background: url('../images/common/icon_close_red.svg')no-repeat center center;background-size: cover;cursor: pointer;}
.motiv_layer .file_size_warning{text-align:center;font-size: var(--fts14);font-weight: var(--ftw500);line-height: 1;color: var(--color19);}

/* 회원관리 */
.motiv_layer .sect.stop_reply{margin-top: 30px;padding-top: 20px;border-top: var(--box_border);}
.motiv_layer .sect.stop_reply .stop_sta_box + .stop_sta_box{margin-top: 10px;padding-top: 10px;border-top: var(--box_border);}
.motiv_layer .sect.stop_reply .stop_sta_box .tit{display: flex;align-items: center;justify-content: space-between;}
.motiv_layer .sect.stop_reply .stop_sta_box .tit .mem_info{padding: 5px 15px;border-radius:15px;font-size: var(--fts14);font-weight: var(--ftw500);color: #fff;}
.motiv_layer .sect.stop_reply .stop_sta_box.adm_ver .tit .mem_info{background: var(--color3);}
.motiv_layer .sect.stop_reply .stop_sta_box.mem_ver .tit .mem_info{background: var(--color5);}
.motiv_layer .sect.stop_reply .stop_sta_box .tit .date_info{font-size: var(--ftw12);font-weight: var(--ftw500);color: var(--color19);}
.motiv_layer .sect.stop_reply .stop_sta_box .cont{margin-top: 10px;}
.motiv_layer .sect.stop_reply .stop_sta_box.adm_ver .cont{min-height:50px;max-height: 100px;overflow-y: auto;}
.motiv_layer .sect.stop_reply .stop_sta_box.mem_ver .cont{min-height: 100px;}

.motiv_layer .btn_wrap.prd_tag .btn{display: flex;align-items: center;gap: 5px;}
.motiv_layer .btn_wrap.prd_tag .btn .tag_close{display:block;width: 10px;height: 10px;background: url('../images/common/icon_close_red.svg')no-repeat center center;background-size:cover;}

/* 레이어팝업 알럿 공용 신규 */
.motiv_layer{position:fixed;top:50%;left:50%;transition:opacity .3s;opacity:0;visibility: hidden;z-index:100}
.motiv_layer .alert_title{height:45px;padding:0 20px;display:flex;justify-content:center;align-items:center;background:var(--color5);position:relative;font-size:var(--fts15);font-weight:var(--ftw700);color:#fff}
.motiv_layer .alert_title+.dada_close_btn{width:12px;height:12px!important;top:50%!important;right:15px;background:url('../images/common/icon_pop_close.svg') no-repeat center center;background-size:12px;transform:translateY(-50%);box-sizing:content-box;cursor:pointer}
.motiv_layer .alert_title+.dada_close_btn:after,.motiv_layer .alert_title+.dada_close_btn:before{display:none}
.motiv_layer .dada_cont{font-size:var(--fts16);font-weight:var(--ftw500);text-align:center;margin:45px 0}
.motiv_layer .dada_cont h2{margin-bottom:20px;}
.motiv_layer .dada_btn_wrap{text-align:center;padding-bottom: 30px;}
.motiv_layer .dada_btn_wrap .dada_btn{display:inline-block;color:#fff;min-width:120px;height:40px;margin:0 5px;line-height:40px;font-size:var(--fts14);font-weight:var(--ftw500);cursor:pointer}
.motiv_layer .dada_btn_wrap .dada_btn.co_1{background-color:var(--color1)}
.motiv_layer .dada_btn_wrap .dada_btn.co_9{background-color:var(--color9)}
.motiv_layer .dada_close_box{position:relative}
.motiv_layer .dada_close_box:after{content:'';display:block;clear:both;}
.motiv_layer .dada_close_box .dada_close_btn{position:absolute;top:10px;right:10px;width:25px;height:25px;cursor:pointer}
.motiv_layer .dada_close_box .dada_close_btn:before, 
.motiv_layer .dada_close_box .dada_close_btn:after{position:absolute;top:50%;left:50%;content:' ';height:25px;width:2px;background-color:#000;margin-top:-12px}
.motiv_layer .dada_close_box .dada_close_btn:before {transform: rotate(45deg);}
.motiv_layer .dada_close_box .dada_close_btn:after {transform: rotate(-45deg);}

.motiv_layer.slider_img .dada_close_box .dada_close_btn{top:-40px}
.motiv_layer.slider_img .dada_close_box .dada_close_btn:before, 
.motiv_layer.slider_img .dada_close_box .dada_close_btn:after{background-color: #fff;}
.slider_img .swiper{width:100%;height:100%;}
.slider_img .swiper-slide{text-align:center;font-size:18px;background:#fff;display:flex;justify-content:center;align-items:center;}
.slider_img .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;}

.slider_img .swiper{width:100%;height:300px;margin-left:auto;margin-right:auto;}
.slider_img .swiper-slide{background-size:cover;background-position:center;}
.slider_img .motiv_slider1{height:80%;width:100%;}
.slider_img .motiv_slider2{height:20%;box-sizing:border-box;padding:10px 0;}
.slider_img .motiv_slider2 .swiper-slide{width:25%;height:100%;}
.slider_img .motiv_slider2 .swiper-slide-thumb-active{opacity:1;}
.slider_img .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;}
.slider_img .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,-50px);
    right: auto;
}
.slider_img .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,-50px);
    left: auto;
}

.slider_img  .swiper-button-next:after,
.slider_img .swiper-button-prev:after {color: #fff;}

.slider_img .motiv_slider2 .swiper-slide-thumb-active{border:solid 2px var(--color1)}

.motiv_layer_bg{width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,.4);opacity:0;transition:.3s;z-index:199;}

.motiv_layer.slider_img .dada_cont{margin:0}
.lp_active{z-index:201}
.lp_active_bg{z-index:200}

.text_lines{color:var(--color27);font-size:14px;margin-top:20px;}
.font_lab1{color:var(--color8);font-weight:700}
.lp_textL{text-align:left;padding:0 20px}
.scroll_auto{max-height: 300px;overflow-y: auto;}

h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer + .motiv_layer,
h2 + .motiv_layer + .motiv_layer,
h2 + .motiv_layer{position:static!important;opacity:1!important;visibility:visible!important}

.motiv_tbl.normal.re_his .tbl_inner .hd_item{flex-grow:1;flex-basis:100px;}
.motiv_tbl.normal.re_his .tbl_inner .hd_item:first-child{flex-grow: 0;flex-basis: 100px;}
.motiv_tbl.normal.re_his .tbl_inner .hd_item:first-child + .hd_item{flex-basis: 150px;text-align: left;}
.motiv_tbl.normal.re_his .tbl_inner .hd_item:first-child + .hd_item + .hd_item{flex-grow: 0;flex-basis: 100px;}
.motiv_tbl.normal.re_his .tbl_inner .hd_item:first-child + .hd_item + .hd_item + .hd_item{flex-grow: 0;flex-basis: 120px;}

.motiv_normal_tbl.question .txt_list{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;}

.motiv_tbl .tbl_body .hd_item .flex_item .inp_wrap.size_md{padding:0;flex-basis:120px;flex-grow: 0;width: auto;}
.motiv_tbl .tbl_body .hd_item .flex_item .inp_wrap.size_md input[type="text"]{height: 30px;padding: 0 10px;line-height:28px;box-sizing: border-box;}

.motiv_tbl_box .motiv_normal_tbl .inp_wrap.size_md input[type="text"]{height: 30px;min-height:30px;padding: 0 10px;line-height:28px;box-sizing: border-box;}

.motiv_layer .data_flex_box{display: flex;align-items: stretch;gap: 20px;}
.motiv_layer .data_flex_box .data_left{width: 400px;padding: 15px;border: var(--box_border);background: var(--color16);}
.motiv_layer .data_flex_box .data_left .data_box{display: flex;flex-direction: column;gap: 20px;}
.motiv_layer .data_flex_box .data_left .data_box .top_area .inp_wrap{flex: 1;}
.motiv_layer .data_flex_box .data_left .data_box .data_item + .data_item{margin-top: 5px;}
.motiv_layer .data_flex_box .data_left .data_box .data_item.dataNone{display: flex;justify-content: center;align-items: center;border: solid 1px #ddd;border-radius: 10px;margin-top: 10%;background-color: #fff;}
.motiv_layer .data_flex_box .data_left .data_box .data_item.dataNone > div{padding: 30px 0;}


.motiv_layer .data_flex_box .data_right{width: calc(100% - 420px);padding: 15px;border: var(--box_border);}

.motiv_layer .cate_match_tbl .select_wrap{flex: 1;}
.motiv_layer .cate_match_tbl .mp_cate_box .cate_result{padding:10px;font-size:var(--fts14);font-weight:var(--ftw500);color:#fff;text-align: left;background: var(--color1);border-radius: 5px;}
.motiv_layer .cate_match_tbl tr.dtl_cate td{padding: 0;border-bottom: none;}
.motiv_layer .cate_match_tbl tr.dtl_cate.active td{border: var(--cont_border);padding: 10px;}
.motiv_layer .cate_match_tbl tr.dtl_cate .select_cate_wrap{padding: 0;transition: .3s;height: 0;overflow: hidden;}
.motiv_layer .cateSelectBtn{width: 40px;height: 40px;border: var(--box_border);position: relative;}
.motiv_layer .cateSelectBtn .icon_arrow{border: solid var(--color5);border-width: 0 2px 2px 0;display: inline-block;padding: 4px 4px 2px 2px;position: absolute;top: 50%;left: 50%;margin-left:-5px;transition: .5s;transform-origin: center;transform: rotate(45deg) translate(-50%,-50%);}
.motiv_layer .cateSelectBtn.active .icon_arrow{margin-top:-2px;transform: rotate(-135deg);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl.cate_match_tbl{border-bottom: var(--cont_border);}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl.cate_match_tbl tr td{border-bottom: 0;}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl.cate_match_tbl tr.dtl_cate td{border:none;padding:0}
.motiv_layer .motiv_tbl_box .motiv_normal_tbl.cate_match_tbl tr.dtl_cate.active td{border: var(--cont_border);}

/* 대시보드 */
.motiv_layer .notice_cont{min-height:100px;max-height: 300px;overflow-y: auto;padding: 20px;border: var(--box_border);}

/* 지정판매자 관리 */
.motiv_layer .seller_list{padding: 20px;max-height:200px;overflow-y:auto;border: var(--box_border);display: flex;flex-wrap: wrap;justify-content:flex-start;align-items: flex-start;gap: 10px;}
.motiv_layer .seller_list .seller_item{padding:5px 10px;display: flex;align-items: center;gap: 8px;border:var(--box_border);border-radius: 5px;}

.motiv_layer .prd_img_box.flex_wrap{display: flex;align-items: flex-start;gap: 10px;}
.motiv_layer .prd_img_box{}
.motiv_layer .prd_img_box .big_img{width: calc(33.33% - 5px);}
.motiv_layer .prd_img_box .big_img .img_item{width: 100%;}
.motiv_layer .prd_img_box .big_img .img_item .img_box{width: 100%;}
.motiv_layer .prd_img_box .big_img .img_box img{width: 100%;}
.motiv_layer .prd_img_box.flex_wrap .img_list{width: 66.66%;}
.motiv_layer .prd_img_box .img_list{display: flex;gap: 10px;flex-wrap: wrap;overflow-y: auto;}
.motiv_layer .prd_img_box.flex_wrap .img_list .img_item{width: calc(25% - 8px);}

.motiv_layer .prd_img_box .img_item{width:calc(20% - 8px);position: relative;}
.motiv_layer .prd_img_box .img_item:hover{cursor: pointer;}
.motiv_layer .prd_img_box .img_item.selected::before{content:'';position: absolute;top: 0;left: 0;z-index: 1;width: 2px;height: 100%;background: var(--color1);visibility: visible;}
.motiv_layer .prd_img_box .img_item:hover:before{content:'';position: absolute;top: 0;left: 0;z-index: 1;width: 2px;height: 100%;background: var(--color1);visibility: hidden;}

.motiv_layer .prd_img_box .img_item.selected::after{content:'';position: absolute;bottom: 0;right: 0;z-index: 1;width: 2px;height: 100%;background: var(--color1);visibility: visible;}
.motiv_layer .prd_img_box .img_item::after{content:'';position: absolute;bottom: 0;right: 0;z-index: 1;width: 2px;height: 100%;background: var(--color1);visibility: hidden;}

.motiv_layer .prd_img_box .img_item:hover::before,
.motiv_layer .prd_img_box .img_item:hover::after{visibility: visible;}

.motiv_layer .prd_img_box .img_item .img_chk_sta{display:none;width: 25px;height: 25px;position: absolute;left: 0;top: 0;z-index: 1;background: var(--color1);}
.motiv_layer .prd_img_box .img_item.selected .img_chk_sta{display:flex;justify-content: center;align-items: center;}
.motiv_layer .prd_img_box .img_item.selected .img_chk_sta .icon_chk{display: inline-block;width: 14px;height: 10px;background: url('../images/common/icon_chk.svg')no-repeat center center;background-size: cover;}

.motiv_layer .prd_img_box .img_item .img_box{width: 100%;line-height: 0;position: relative;}
.motiv_layer .prd_img_box .img_item.selected .img_box::before{content: '';position: absolute;top: 0;left: 0;z-index:1;width: 100%;height: 2px;background: var(--color1);visibility: visible;}
.motiv_layer .prd_img_box .img_item .img_box::before{content: '';position: absolute;top: 0;left: 0;z-index:1;width: 100%;height: 2px;background: var(--color1);visibility: hidden;}

.motiv_layer .prd_img_box .img_item.selected .img_box::after{content: '';position: absolute;bottom: 0;left: 0;z-index:1;width: 100%;height: 2px;background: var(--color1);visibility: visible;}
.motiv_layer .prd_img_box .img_item .img_box::after{content: '';position: absolute;bottom: 0;left: 0;z-index:1;width: 100%;height: 2px;background: var(--color1);visibility: hidden;}
.motiv_layer .prd_img_box .img_item .img_box:hover::before,
.motiv_layer .prd_img_box .img_item .img_box:hover::after{visibility: visible;}

.motiv_layer .prd_img_box .img_item .img_box img{width: 100%;height: 100%;object-fit: cover;object-position: center;line-height: 0;}
.motiv_layer .prd_img_box .img_item .img_box .img_zoom{display:none;position: absolute;right: 0;top:0;z-index: 0;width: 15px;text-align: center;padding: 10px;cursor: pointer;box-sizing: content-box;}

.motiv_layer .prd_img_box .img_item .img_box .plus_sta{display:none;justify-content: center;align-items: center;width: 25px;height: 25px;position: absolute;left: 0;top: 0;z-index: 1;background: var(--color1);}
.motiv_layer .prd_img_box .img_item .img_box:hover .plus_sta{display: flex;}
.motiv_layer .prd_img_box .img_item .img_box .plus_sta .icon_plus{display: inline-block;width: 14px;height: 14px;background: url('../images/common/icon_plus_w.svg')no-repeat center center;background-size: cover;}
.motiv_layer .prd_img_box .img_item:hover .img_zoom{display: block;}



